<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>Home | Student Leadership Conclave</title>
    <meta name = "author" content = "Reuben Devanesan | Aditya Shekhar">
    <meta name = "description" value = "Student Leadership Conclavea is a forum to bring together the student leaders of all IITs to brainstorm the solutions to different issues, currently ailing the students of IITs.">
    <meta name = "keywords" content = "Student Leadership Conclave, IIT Gandhinagar, Indian Institute of Technology Gandhinagar, Student Leaders, SLC 2021, SLC">
    <link rel = "icon" href = "/images/iitgnlogo.png">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Stylesheet-->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/home.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,500,800" rel="stylesheet">
    <!--Fonts-->
    <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="site"> <!--For responsiveness in mobile devices-->
        <!--Navbar-->
        <header>
            <nav class = "navbar navbar-expand-lg fixed-top navbar-light">
                <a class="navbar-brand" href="/">Student Leadership Conclave</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>        
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc-2021">SLC 2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prev-editions">Previous Editions</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link" href="/sod/slc-2020">Summary of Discussions</a>
                          <button class=" dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          </button>  
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2021">SLC 2021</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2020">SLC 2020</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2019">SLC 2019</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2018">SLC 2018</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/team">Team</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br><br>

        <!--Jumbotron-->
        <!--
        <div class="container-fluid">
            <div class="slideshow-container">
              <div class="mySlides1">
                <img class="slc-slides animate-fading" src="/images/Gallery/SLC-2020/1.JPG">
              </div>
              <div class="mySlides1">
                <img class="slc-slides animate-fading" src="/images/Gallery/SLC-2020/2.JPG">
              </div>
              <div class="mySlides1">
                <img class="slc-slides animate-fading" src="/images/Gallery/SLC-2019/1.jpg">
              </div>      
              <div class="mySlides1">
                <img class="slc-slides animate-fading" src="/images/Gallery/SLC-2019/2.JPG">
              </div>    
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>

              <div style="text-align:center" id = "dot-placement">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
              </div>
            </div>
        </div>
        -->

        <div class="container-fluid">      
          <!--Carousel Wrapper-->
          <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/images/Gallery/SLC-2020/1.JPG" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/images/Gallery/SLC-2020/2.JPG" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/images/Gallery/SLC-2019/1.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/images/Gallery/SLC-2019/2.JPG" alt="Fourth slide">
              </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
            <ol class="carousel-indicators">
              <li data-target="#carousel-thumb" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-thumb" data-slide-to="1"></li>
              <li data-target="#carousel-thumb" data-slide-to="2"></li>
              <li data-target="#carousel-thumb" data-slide-to="3"></li>
              <li data-target="#carousel-thumb" data-slide-to="4"></li>
            </ol>
          </div>
          <!--/.Carousel Wrapper-->
        </div>

        <!--SLC-->
        <div class="jumbotron text-center">
            <h1 class="display-4">STUDENT LEADERSHIP CONCLAVE</h1>
            <p class="lead">Re-imagining student engagement in IITs</p>
        </div>

        <!--About SLC-->
        <div class = "container">
            <h1 class = "display-4">About SLC</h1><hr>
            <p>The Student Leadership Conclave was envisioned as a forum to bring together the student leaders of all IITs to brainstorm the solutions to different issues faced by the student community. The first edition of Student Leadership Conclave was organized on March 24-25, 2018, and student leaders from 14 different IITs attended. Its agenda included Peer Assistance and Learning, Imperative of Soft skills, Hobby groups, and establishment of Student Academic Conference. After the astounding success of the first edition, the subsequent editions of the Conclave were organised with even greater vigour and saw a steady increase in participation. The agenda for the later editions included Academic Integrity, Undergraduate Research, Linguistic Groupism and Hands-on Learning to name a few. The Student Leadership Conclave strives to be a unique and effective platform where one can learn as well as contribute to solve issues existing in the IITs spread across the country. The agendas chosen for discussion are such that the solutions may be implemented at the student community level by the students with minimal or no aid from the faculty or administration. The ultimate goal of the Student Leadership Conclave is to provide room for new thoughts and ideas while working towards bringing about a beneficial change in the student communities of IITs.
            </p>
        </div>
        <br>
        
        <!--Preamble of SLC-->
        <div class = "container">
            <h1 class = "display-4">Preamble</h1><hr>
            <p>The IIT system celebrates the pursuit of knowledge, nurtures future leadership, facilitates entrepreneurial thinking, develops skills to address concerns of the future, and incubates scholars,
              thinkers and innovators. We believe that a responsible and vibrant student community has been our
              major strength. Student governance has been a key factor in shaping the holistic education in IITs
              that we see today. It has emerged out of proactive student leadership, collective commitment and
              disruptive thinking.
              <br><br>
              The Student Leadership Conclave aims to discuss the possibilities and necessity of re-imagining
              student governance in the IIT system. The frameworks of knowledge creation, assimilation, and
              dissemination have gone through radical changes. Diversity in the backgrounds of the students
              joining IITs has posed new dimensions to the challenges. Nonlinear, interactive, and collaborative
              approaches to learning and teaching are changing the culture of educational institutions. The emergence of new culture would mean re-imagining the current framework and adopting new ones. It is
              important for the student leaders of IITs to get engaged in this process and discuss the new trends
              in student governance. The activities and action plans emerging out of this conclave are expected to
              be transformative in the role of student governance in IIT education.
              <br><br>
              The aim of the two-day conclave is to discuss agendas to make student engagement more effective
              in IITs and make sure that they are in tune with the emerging cultural changes in educational
              institutions.
              </p>
        </div>
        <br><br><br>

        <!--Footer-->
        <footer>
            <div class="container"><hr><br>
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <ul class="list-inline text-center">
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-facebook-f  fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li class="list-inline-item" >
                      <a href="mailto:slc@iitgn.ac.in" target="_blank" id = "footer-icon">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li class="list-inline-item" >
                      <a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                  </ul>
                  <p class="copyright text-muted text-center">Copyright &copy; SLC 2021</p>
                </div>
              </div>
            </div>
          </footer>
          
    <!--Bootstrap and JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>