<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>Previous Editions | Student Leadership Conclave</title>
    <meta name = "author" content = "Reuben Devanesan | Aditya Shekhar">
    <meta name = "description" value = "Student Leadership Conclavea is a forum to bring together the student leaders of all IITs to brainstorm the solutions to different issues, currently ailing the students of IITs.">
    <link rel = "icon" href = "/images/iitgnlogo.png">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Stylesheet-->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/prev-ed.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,500,800" rel="stylesheet">
    <!--Fonts-->
    <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="site"> <!--For responsiveness in mobile devices-->
        <!--Navbar-->
        <header>
            <nav class = "navbar navbar-expand-lg fixed-top navbar-light">
                <a class="navbar-brand" href="/">Student Leadership Conclave</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>        
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc-2021">SLC 2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/prev-editions">Previous Editions</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link" href="/slc-2020">Summary of Discussions</a>
                          <button class=" dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          </button>  
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2020">SLC 2020</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2019">SLC 2019</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2018">SLC 2018</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/team">Team</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br><br>
        <div class="header">
            <div class="progress-container">
              <div class="progress-bar" id="myBar"></div>
            </div>  
        </div>

        <div id = "top">
            <button id = "myBtn"><a href = "#top" id = "top-icon"><i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i></a></button>
        </div>

        <div id = "slc2020">
        </div>

        <div id = "main-content">        
            <div class = "row">
                <!--Sidebar Navigation-->
                <div class = "col-md-4 col-lg-1">
                    <br>
                    <nav id = "sidebarMenu" class = "sidebar">
                        <div class="position-sticky">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#slc2020" style = "color: darkblue">
                                        <span data-feather=""></span> SLC 2020
                                    </a>
                                </li>
                                <br>
                                <li class="nav-item">
                                    <a class="nav-link" href="#slc2019"  style = "color: darkblue">
                                    <span data-feather=""></span> SLC 2019
                                    </a>
                                </li>
                                <br>
                                <li class="nav-item">
                                    <a class="nav-link" href="#slc2018"  style = "color: darkblue">
                                    <span data-feather = ""></span>SLC 2018
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <!--Agendas-->
                <div class = "col-sm-12 col-md-8 col-lg-11">

                    <!--SLC 2020-->
                    <div class = "agenda1">
                        <div class = "heading display-4 text-center">SLC 2020</div><hr>
                        <br>
                        <div class = "heading">
                        <a href = "/slc-2020"><h3>Professional and Shared Living Space Etiquettes/Skills</h3></a>
                        </div>
                        <div class = "text">
                            A. Etiquettes/Skills in a Professional Environment - The IITs house some of the most brilliant minds of our
                            country. However, according to the feedback from some hiring firms, they lack professional skills. These
                            skills include students to be well-groomed, write clearly and have a proper business meeting etiquette.
                            This is crucial for them to thrive in various workspaces, be it industry or academia at both national and
                            international levels. What can student leaders do beyond organizing workshops and seminars to
                            address these specific problems? How can we make the students realize the importance of such
                            professional skills?
                            <br><br>
                            B. Etiquettes/Skills in a Shared Living Space - IIT students live in a shared living space. There are several
                            skills and etiquettes that they must inculcate to ensure a respectful coexistence. Some of these include
                            keeping the toilets clean, not wasting food, respecting others’ personal space, being aware of first aid
                            knowledge, etc. How can student leaders help in inculcating these skills and etiquettes among
                            students without being “preachy”?
                        </div>

                        <br>
                        <div class = "heading">
                            <a href = "/slc-2020"><h3>Promoting student collaborations among different IITs</h3></a>
                        </div>
                        <div class = "text">
                            Our experience says that there is scope beyond the existing platforms of providing students with a better
                            understanding of work culture, student life, etc. of peers from different IITs. This would help them to
                            explore, engage, and learn on both academic and non-academic fronts.
                            We intended to brainstorm ideas wherein students from different IITs would collaborate either
                            physically or digitally. What can student leaders do to promote more significant collaborations/
                            better relationships among students with similar interests on a student-level? How can we ensure
                            that the potential benefits for students from these collaborations are maximized?
                        </div>

                        <br>
                        <div class = "heading">
                            <a href = "/slc-2020"><h3>Promoting Hands-on Learning in Courses</h3></a>
                        </div>
                        <div class = "text">
                            Hands-on learning helps students appreciate the utility of the concepts taught in the class. Moreover,
                            it enhances the students’ ability to apply their theoretical knowledge to real-world problems. The courses,
                            at present, have elements like labs and projects to provide the students with an opportunity for hands-on
                            learning. However, it has been observed that sometimes the students do not completely realize the
                            importance of these opportunities.
                            What can student leaders do to make students appreciate the already existing elements for hands-on
                            learning? What other initiatives can student leaders take to promote hands-on learning in courses?What
                            can student leaders do to help create an environment so that students involve themselves in hands-on
                            learning?
                        </div>

                        <br>
                        <div class = "heading">
                            <a href = "/slc-2020"><h3>Significance of courses other than one’s primary discipline</h3></a>
                        </div>
                        <div class = "text">
                            The curriculum of an IIT incorporates courses from a wide range of domains. These include courses that are
                            not directly linked to one's department/discipline. These courses are instrumental for the students in a
                            variety of ways. They are crucial in improving their skills, exploring different subjects and bridging the gap
                            between various fields. However, we have observed that some students fail to recognize the objective
                            behind the inclusion of such courses in the curriculum and therefore portray a lack of interest in the same.
                            What initiatives can the student leaders take to promote the importance of these courses among
                            students?
                        </div>

                        <br>
                        <div class = "heading">
                            <a href = "/slc-2020"><h3>To increase the involvement of students in voluntary community service programs</h3></a>
                        </div>
                        <div class = "text">
                            Community service is all about stepping up, lending a hand and working together for the benefit of
                            others. By volunteering in community service initiatives, students shoulder responsibility on a larger
                            scale and they become socially aware. They are exposed to new challenges, gain necessary experience
                            and this indeed, moulds them into better individuals.
                            How can more members from the student community be encouraged to volunteer in these activities? In
                            what way can we merge social responsibility into being a part of the mainstream college life?
                        </div>
                    </div>
                    
                    <!--SLC 2019-->
                    <div id="slc2019">
                        <br><br><br>
                    </div>

                    <div class = "agenda2">
                        <div class = "heading display-4 text-center">SLC 2019</div><hr>
                        <br>
                        <div class = "heading">
                            <a href = "/slc-2019"><h3>Academic integrity</h3></a>
                        </div>
                        <div class = "text">
                            Academic integrity is ensuring that the work you turn in is your own. The trust
                            this builds is critical to teamwork, leadership and collaborative learning. However
                            academic dishonesty is still an issue plaguing academic institutions in India. The
                            most common excuse (other than claiming lack of awareness) is the justification that
                            the act is a one time event due to extraordinary circumstances. How do we create
                            an environment within our institutions wherein even a case of minor dishonesty is
                            perceived as a grave offense? How can we encourage the student community to be
                            conscient regarding passing off others’ work as their own? What can student leaders
                            do to make the community realize the importance of academic integrity and adhere
                            to it as second nature? How do we encourage students to report any instances of
                            academic dishonesty?
                        </div>
                        <br>
                        <div class = "heading">
                            <a href = "/slc-2019"><h3>Exposure to research for undergraduate students</h3></a>
                        </div>
                        <div class = "text">
                            Research is an activity that involves exploring and proposing new knowledge, facts,
                            methods, conclusions or discoveries, or implementing existing knowledge to solve new
                            problems.
                            Students entering their first year in an IIT are habituated to rote learning. Exposure
                            to research at an undergraduate level helps students acquire skills such as critical
                            thinking, an independent approach to problem-solving, and perseverance. Moreover,
                            at an undergraduate level, students can freely explore cutting-edge topics related to
                            their diverse areas of interest, which they might not have the opportunity to do later.
                            Most undergraduate students feel research projects are only beneficial for those who
                            want to pursue graduate studies. There is a need to change this perception. We would
                            like to explore ways to promote research at an undergraduate level. How can we make
                            our respective student communities and faculty members aware of the importance of
                            undergraduate research?
                        </div>
                        <br>
                        <div class = "heading">
                            <a href = "/slc-2019"><h3>Student well-being</h3></a>
                        </div>
                        <div class = "text">
                            Emotional, psychological, and social well-being of all students is extremely important
                            for their health, academic progress, and holistic growth. Students who face issues
                            related to their well-being have the opportunity to avail on-campus counselling services to help them deal with and overcome these problems. However, due to various
                            reasons - such as the fear of being perceived as ‘psychologically weak’ or ‘emotionally
                            unstable’ - many students do not avail them until their problems compound and they
                            reach a critical state of mental health.
                            What steps can the student community take to help students address problems related
                            to their well-being before these problems become too serious? Can workshops and
                            group therapy be introduced at a community-managed level to address important
                            issues such as academic stress, procrastination, time management, healthy sleep,
                            addiction, social confidence, and fending off peer and parental pressure? How can
                            we structure these programs? How can we integrate them with counselling services?
                            What steps can student leaders take to dispel any stigma associated with availing
                            these programs and counselling services?
                        </div>
                        <br>
                        <div class = "heading">
                            <a href = "/slc-2019"><h3>Linguistic groupism</h3></a>
                        </div>
                        <div class = "text">
                            IITs host students from all over the country. Often, freshers tend to form a group
                            based on the vernacular languages they speak. These groups formed on linguistic
                            lines often tend to deepen, leading to various problems. Students may miss out on
                            the opportunity to appreciate and learn from a diverse peer group.
                            <br>
                            • What can student leaders do to overcome language barriers within the student
                            body? Can specific events be organized that motivate students to learn about
                            different languages, their origins, and cultures? What could these be?
                            <br>
                            • How can student mentors promote greater cross-lingual fresher interactions?
                            <br>
                            • Should freshers be made to step out of their comfort zone by forcing them to
                            work in diverse groups?                        
                        </div>
                        <br>
                        <div class = "heading">
                            <a href = "/slc-2019"><h3>Considerations for eateries in hostels</h3></a>
                        </div>
                        <div class = "text">
                            As foremost institutes of national importance, IITs have a social responsibility of
                            guiding consumption patterns for the collective benefit of society. One significant
                            component of this within IIT campuses is the sale of food to students, especially near
                            student residences. Such eateries cater to the diverse needs of students which messes
                            cannot fulfill, from daily cravings to celebratory treats for special occasions. Hence
                            they greatly influence activities within campuses.
                            <br>
                            What factors should IITs scrutinise when deciding on renting spaces to eateries?
                            Although the control on eateries may not lie with student leaders in many institutes
                            at present, we shall discuss some common policies on this matter which IITs can
                            arrive at in the near future. Arriving at these policies requires addressing numerous
                            disagreements. For instance, while preferring local caterers over influential MNCs
                            might be more beneficial to the local economy, student tastes may crave for the
                            opposite. In this manner, we plan on discussing the following:
                            <br>
                            • Should allocation of eateries focus on the short-term savory satisfaction of
                            students or on their long-term health and nourishment?
                            <br>
                            • Should IITs favor eateries of large MNC chains for their easier hygiene
                            compliance and greater capabilities of satisfying savory needs? Or should we
                            promote local caterers and sellers to support the local economies better?
                            <br>
                            • Should student leaders consider making students pay a small premium to
                            subsidize respectable wages of workers in less organized eateries?
                            <br>
                            • Overlapping menus can lead to uneven competition between disparate entities.
                            How can we prevent this without making eateries complacent with service?
                            <br>
                            • How can we normalize prices across all eateries in a campus to prevent
                            segregation of students based on their ability to spend?
                            <br>
                            • Can colleges improve their monitoring systems to push less organized caterers
                            and food sellers for maintaining better hygiene?                      
                        </div>
                    </div>

                    <div id="slc2018"></div>
                    <br><br><br>
                    <div class = "agenda2">
                        <div class = "heading display-4 text-center">SLC 2018</div><hr>
                        <br>
                        <div class = "heading">
                            <a href = "/slc-2018"><h3>Reinforcing students’ confidence through peer assistance and learning</h3></a>
                        </div>
                        <div class = "text">
                            A. Our experience says that many students are not accustomed to the teaching style in IIT. We intend
                            to explore ideas wherein senior students can help their juniors to have a smooth transition in their
                            academics. Can we provide a forum to students for clearing doubts and also continuing discussion that
                            require more leisure beyond the classroom hours?
                            <br>
                            B. Some skills of students can be immensely helpful to others. There are many things such as
                            programming, graphics, data analysis etc. which can be effectively taught by students. We would
                            like to brainstorm on how to create such opportunities for additional learning, what mechanisms
                            might be helpful in identifying suitable teachers and making such learning opportunities fruitful and
                            engaging.
                            <br>
                            C. We need our students to be sufficiently proficient in English to understand what they are being
                            taught in classrooms. Through peer-assisted learning, we look to encourage students to improve
                            their English through their interactions with seniors. To realise this, we are seeking inputs on
                            developing more programs and resources to enhance such peer learning opportunities. How can we
                            choose these senior students?
                            <br>
                            D. There will always be a role for lectures, books and exams in college. But there’s a limit to what can
                            be learned inside a classroom. We should do our students a favor and give them freedom to enjoy
                            the vast educational resources that lie just outside the door. IITians shouldn’t just enjoy thinking,
                            they should also enjoy doing. Whether it’s being really into tinkering, or being good at CAD work
                            or getting a bliss on doing 3D printing and metal work, we want students to be hands-on creative.
                            What can student leadership do to promote such activities and culture in general?                         </div>
                        <br>
                        <div class = "heading">
                            <a href = "/slc-2018"><h3>Imperative of soft skills</h3></a>
                        </div>
                        <div class = "text">
                            A. In workplaces today, soft skills are as important as technical expertise. Developing these skills is more
                            challenging and requires persistent and committed efforts. Do personal development courses and
                            networking with people both inside and outside an organisation help build soft skills?
                            <br>
                            B. Reading is one of those understated skills that is used all the time at the workplace but is upstaged
                            by more high-profile skills such as ‘quantitative ability’, ‘critical thinking’ and ‘soft skills’. Also, in the
                            present time, value of the libraries is getting down while encyclopedias are virtually extinct. Libraries
                            certainly help in improving reading skills and increasing concentration. Irrespective of institute
                            policies, the student leadership can become proactive to promote the use of libraries and acquiring
                            reading skills. What can those steps be?
                            <br>
                            Can any collaborative effort from all IITs work towards this goal to prepare future IITians for them stand
                            out in the workplace? How can we ensure that students take maximum benefit from these trainings?                        </div>
                        <br>
                        <div class = "heading">
                            <a href = "/slc-2018"><h3>Creating and sustaining hobby groups</h3></a>
                        </div>
                        <div class = "text">
                            Collaborative learning provides a much better outcome than any competition. To realise this, we support
                            hobby groups to offer different perspectives on topics (as diverse as foundries to cryptography). Any student
                            who wishes to explore the topic is welcome to join these groups irrespective of their level of proficiency. A
                            group thus initiated can only be sustained when its members are ready to dedicate efforts towards it. We
                            have realised that it is difficult for all members to meet frequently due to various commitments.
                            We would like you to suggest ways in which such groups can be made visible to those people who may
                            be interested. What are the incentives that have worked for similar initiatives and how can we hold
                            members accountable despite it being voluntary?
                        </div>
                        <br>
                        <div class = "heading">
                            <a href = "/slc-2018"><h3>Student academic conferences</h3></a>
                        </div>
                        <div class = "text">
                            The Student Academic Conference can provide an opportunity for undergraduate and graduate students
                            from any disciplines to present their research in a professional academic setting. Student Research
                            refers to any scholarly or creative activity ranging from scientific experimentation, service-learning, and
                            literary criticism, to case-study design, and artistic expression.
                            In this unique venue, students will be able to see how their work compares with that of their peers, get
                            feedback on their work and presentation skills, and learn the intricacies of professional presentation in
                            their particular fields. We invite suggestions and ideas on how best we can plan and execute it.                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <br><br>

        <!--Footer-->
        <footer>
            <div class="container"><hr><br>
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                        <a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f  fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item">
                        <a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item" >
                        <a href="mailto:slc@iitgn.ac.in" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item" >
                        <a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted text-center">Copyright &copy; SLC 2021</p>
                    </div>
               </div>
            </div>
        </footer>
    </div>
    <!--Bootstrap and JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/js/prev-ed.js"></script>
</body>
</html>