<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>SLC 2021 | Student Leadership Conclave</title>
    <meta name = "author" content = "Reuben Devanesan | Aditya Shekhar">
    <meta name = "description" value = "Student Leadership Conclavea is a forum to bring together the student leaders of all IITs to brainstorm the solutions to different issues, currently ailing the students of IITs.">
    <link rel = "icon" href = "/images/iitgnlogo.png">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Stylesheet-->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/slc2021.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,500,800" rel="stylesheet">
    <!--Fonts-->
    <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="site"> <!--For responsiveness in mobile devices-->
        <!--Navbar-->
        <header>
            <nav class = "navbar navbar-expand-lg fixed-top navbar-light">
                <a class="navbar-brand" href="/">Student Leadership Conclave</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>        
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/slc-2021">SLC 2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prev-editions">Previous Editions</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link" href="/slc-2020">Summary of Discussions</a>
                          <button class=" dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          </button>  
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2020">SLC 2020</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2019">SLC 2019</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2018">SLC 2018</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/team">Team</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br><br>
        <div class="header">
            <div class="progress-container">
              <div class="progress-bar" id="myBar"></div>
            </div>  
        </div>

        <div id = "top">
            <button id = "myBtn"><a href = "#top" id = "top-icon"><i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i></a></button>
        </div>

        <br><br>
        <div class = "container">
            <h1 class = "heading display-2 text-center">SLC 2021</h1>
        </div>

        <div class = "container">
            <!--About-->
            <h2 class = "heading display-4">About</h2>
            <hr>
            <p>
                It is with great pleasure that IIT Gandhinagar welcomes you all to the fourth edition of the Student Leadership Conclave which is set to take place on the 9th and 10th of January, 2021.
                <br><br>
                Owing to the Covid-19 pandemic, this year the conclave will be conducted in an online mode. It was a new challenge for the organising team but we have left no stone unturned to ensure that the conclave will be as interactive and effective as it was in the offline editions. The agenda for SLC 2021 was significantly shaped by new perspectives and thoughts. It was finalised after multiple brainstorming sessions, debates and also after gathering ample feedback from the student representatives of various IITs. The essence of the Student Leadership Conclave has always been its effective discussions, since the time of its inception. We hope to provide the perfect platform for putting forward newer ideas and methods to tackle the issues which continue to persist within the student communities and to work towards implementing beneficial solutions.
                <br><br>
                We are all set for this year’s edition of the Student Leadership Conclave and look forward to having the Student Representatives from various IITs on board
            </p>
            <br>

            <!--Current Agendas-->
            <h2 class = "heading display-4">Agendas</h2>
            <hr>
            <h3 class = "heading">Online Collaborative Learning</h3>
            <p>Collaborative learning includes peer learning, academic interactions with seniors, and out-of-theclassroom discussions with professors. It is an integral part of the IIT education system and plays
                a significant role in developing one’s academic calibre. Moreover, it also helps in building better
                relationships among the community. However, the lack of collaborative learning in the online mode
                in comparison with the offline mode has affected academic interactions, thereby hampering the
                learning process.
                <br><br>
                How can student leaders ensure that collaborative learning is extended to an online semester? What
                steps can the student leaders take to make online collaborative learning more effective and fruitful?</p>
            <br>

            <h3 class = "heading">Promoting Healthy Competition</h3>
            <p>Competitions are conventional ways of involving students in activities where they can develop their
                skills, showcase their talents, and challenge themselves to perform better. They certainly have
                learning outcomes, but occasionally end up creating malignity in the minds of several individuals.
                <br><br>
                The existing ways of student involvement are largely competition driven, and seldom foster learning via mutual development. Therefore, there is a need to ensure that competitions should not
                compromise the moral values of the students, by inducing an ill feeling for other individuals.
                <br><br>
                What can student leaders do to promote the idea of collective growth along with individual growth
                within the student community? How can we create an environment of healthy competitions in all
                student activities including academics, internships or placements?</p>
            <br>

            <h3 class = "heading">Overcoming Casual Sexism</h3>
            <p>Sexism is defined as prejudice, stereotyping, or discrimination based on a person’s sex, be it male
                or female. Casual Sexism often arises and is given impetus due to our inability to manage our
                ‘unconscious biases’. We all have these biases based on our personal and social experiences. It
                prevails in IITs too as a consequence of actions done deliberately, thoughtlessly, or humorously. It
                affects mental health, decreases self-confidence, and negatively impacts one’s performance in work.
                <br><br>
                One of the major reasons behind casual sexism is the lack of awareness regarding its ill-effects.
                Identifying them on a cue can help us manage them, and therefore improve our interpersonal relations
                at a micro level and promote a safe environment at a macro level.What can student leaders do to
                make the community aware of the adverse effects of ‘casual sexism’ and overcome it?</p>
            <br>

            <h3 class = "heading">Promoting Innovation among Students</h3>
            <p>Innovation involves critical thinking, interpreting and implementing creative ideas. It can range from
                enhancing the value of an existing solution to creating a novel technology. An innovative mindset
                supplements a student’s overall growth and is highly valued in a workplace.Inclination towards scoring
                high grades may sideline exploring unconventional paths. Innovation is often hard to teach in a
                traditional classroom setting because it is unpredictable, requires learning by doing, and stems from
                practice.
                <br><br>
                What steps can student leaders take to foster conceptual learning? How can student leaders promote
                critical and creative thinking, and encourage the habit of coming up with out of the box solutions
                among students? How can student leaders create a culture of innovation among students?
                </p>
            <br>

            <h3 class = "heading">Improving Student-Alumni Relations</h3>
            <p>“An organisation’s alumni are the reflection of its past, representation of its present and a link to its
                future.”[1] Building a strong student-alumni relationship is highly beneficial for the students. The
                alumni of an institute contribute by mentoring students in their areas of experience, be it higher
                education, entrepreneurship, placements, or any other professional domain. The pre-existing methods
                of interactions are usually limited to familiarising students with the institution and fostering relations
                with the alumni. Although some students reach out to the alumni individually, there is a need to
                introduce a more efficient approach to enhance the student-alumni relationship.
                <br><br>
                How can student leaders introduce a more effective way to develop a robust and deep-rooted studentalumni network? What steps can student leaders take to enhance the engagement of alumni in a
                student’s future prospects?</p>
            <br>

        <!--Participating IITs??-->
        </div>

        <br><br>
        <!--Footer-->
        <footer>
          <div class="container"><hr><br>
              <div class="row">
                  <div class="col-lg-8 col-md-10 mx-auto">
                  <ul class="list-inline text-center">
                      <li class="list-inline-item">
                      <a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
                          <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-facebook-f  fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                      </li>
                      <li class="list-inline-item">
                      <a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
                          <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                      </li>
                      <li class="list-inline-item" >
                      <a href="mailto:slc@iitgn.ac.in" target="_blank" id = "footer-icon">
                          <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                      </li>
                      <li class="list-inline-item" >
                      <a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
                          <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                      </li>
                  </ul>
                  <p class="copyright text-muted text-center">Copyright &copy; SLC 2021</p>
                  </div>
             </div>
          </div>
        </footer>
    </div>
    <!--Bootstrap and JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/slc2021.js"></script>
</body>
</html>