<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>SLC 2024 | Student Leadership Conclave</title>
    <meta name = "author" content = "Reuben Devanesan | Aditya Shekhar">
    <meta name = "description" value = "Student Leadership Conclavea is a forum to bring together the student leaders of all IITs to brainstorm the solutions to different issues, currently ailing the students of IITs.">
    <meta name = "keywords" content = "Student Leadership Conclave, IIT Gandhinagar, Indian Institute of Technology Gandhinagar, Student Leaders, SLC 2024, SLC">
    <link rel = "icon" href = "images/iitgnlogo.png">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Stylesheet-->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/slc2021.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,500,800" rel="stylesheet">
    <!--Fonts-->
    <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="site"> <!--For responsiveness in mobile devices-->
        <!--Navbar-->
        <header>
            <nav class = "navbar navbar-expand-lg fixed-top navbar-light">
                <a class="navbar-brand" href="/slc">Student Leadership Conclave</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>        
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/slc">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/slc/slc-2024">SLC 2024</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc/prev-editions">Previous Editions</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link" href="/slc/sod/slc-2021">Summary of Discussions</a>
                          <button class=" dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          </button>  
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc/sod/slc-2021">SLC 2021</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc/sod/slc-2020">SLC 2020</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc/sod/slc-2019">SLC 2019</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc/sod/slc-2018">SLC 2018</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc/team">Team</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br><br>
        <div class="header">
            <div class="progress-container">
              <div class="progress-bar" id="myBar"></div>
            </div>  
        </div>

        <div id = "top">
            <button id = "myBtn"><a href = "#top" id = "top-icon"><i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i></a></button>
        </div>

        <br><br>
        <div class = "container">
            <h1 class = "heading display-2 text-center">SLC 2024</h1>
        </div>

        <div class = "container">
            <!--About-->
            <h2 class = "heading display-4">About</h2>
            <hr>
            <p>
                It is with great pleasure that IIT Gandhinagar welcomes you all to the fifth edition of the Student Leadership Conclave which is set to take place on the 29th and 30th of January, 2024.
                <br><br>
                Owing to the Covid-19 pandemic, this year the conclave will be conducted in an online mode. It was challenging for the organising team but we have left no stone unturned to ensure that the conclave will be as interactive and effective as it was in the offline editions. The agenda for SLC 2024 was significantly shaped by new perspectives and thoughts. It was finalised after multiple brainstorming sessions, debates and also after gathering ample feedback from the student representatives of various IITs. The essence of the Student Leadership Conclave has always been its effective discussions, since the time of its inception. We hope to provide the perfect platform for putting forward newer ideas and methods to tackle the issues which continue to persist within the student communities and to work towards implementing beneficial solutions.
                <br><br>
                We are all set for this year’s edition of the Student Leadership Conclave and look forward to having the Student Representatives from various IITs on board.
            </p>
            <br>

            <!--Current Agendas-->
            <h2 class = "heading display-4">Agendas</h2>
            <hr>
            <h3 class = "heading">Transition from School to IIT System </h3>
            <p>The selection process for entering the IITs demands significant academic commitment from students. This commitment often leaves the students with no time and energy to pursue extracurricular activities, socialize with family/friends, or develop soft skills, thereby compromising their holistic development. This might not be true for all of them. Sometimes, some students are more privileged than others, so they might get more advantages, which creates a gap among the students. Along with the time, the gap might expand. The IIT system, on the contrary, focuses remarkably on the overall development of the student, thus encouraging them to participate in various types of activities beyond the classroom. 
                <br><br>
                This brings about an unforeseen transition in the students’ lives, which can often be overwhelming and challenging. While adjusting to the environment around, a student may face several difficulties, including adjusting to the hostel life, adapting new learning styles, and managing time between curricular, co-curricular, and extracurricular activities while gradually gaining self-confidence. These difficulties can sometimes lead to anxiety distress, eventually undermining a student’s success. 
                
                <br><br>
                What can student leaders do to ensure a smooth and rapid transition for the first-year students? 
            </p>
            <br>

            <h3 class = "heading">Informed Citizens: Social Responsibility and Social Awareness 
            </h3>
            <p>The years spent in college are some of the most formative years in students’ lives. Their character, thoughts, and opinions tend to take shape. It is important to realize that students need an environment to grow holistically as individuals, along with their academic and professional pursuits. Exploring new ways to introduce social responsibility and social awareness to students can be a major step towards achieving this objective. Students having ample avenues to be aware of the polity, their rights and to develop a broad and healthy worldview can be a key aspect in this regard. 
                <br><br>
                Student communities can be a great place to initiate resourceful discussions about how the govern ment and its institutions function in the country, what it means to be a voter and the impact of one’s vote, the role of judicial systems, and the law. Students can also gain awareness of their fundamental rights and entitlements, understand the economy and the role of financial institutions. 

                <br><br>
                Student communities can potentially empower students to become responsible and well-informed citizens, giving them the capacity to stand up for themselves and others in society. 
                <br><br>
                <ul>
                <li>How can student leaders introduce social responsibility and social awareness in student communities in a novel and interesting manner? </li>
                <li>What other components can be crucial to instilling a sense of social responsibility cum awareness among students? </li>
                </ul>
            </p>
            <br>

            <h3 class = "heading">Developing Basic English Skills </h3>
            <p>Students at IITs come from diverse linguistic backgrounds with varying levels of proficiency in English. However, the primary medium of instruction and communication at IITs is English. Inability to read, comprehend and speak English affects students’ speed of learning, inhibits them from express ing their thoughts and ideas and prevents them from actively participating in discussions. In addition to English being a requisite in students’ academic life for lectures, examinations, assignments, and presentations, it is equally important for their professional development. Proficiency in English is crucial in helping the students secure internships, placements, or apply for higher education. 

                <br><br>
                Several initiatives have been taken by different IITs to help the students improve their proficiency in English. Some of these include having a mandatory English course, peer-assisted learning (PAL), mentoring by senior students, and having remedial classes. Despite these initiatives, the issue still remains prevalent among students who have never used English as a formal medium of communication as well as those who have limited proficiency in it. 
                <br><br>
                <ul>
                <li>How can the student leaders ensure that lack of English proficiency does not become a barrier to a student’s academic as well as professional development? </li>
                <li>What changes can student leaders propose to improve the current initiatives to make them more effective? </li>
                <li>What are some of the novel initiatives that the student leaders can propose to assist students in improving their English proficiency? </li>
                </ul>
            </p>
            <br>

            <h3 class = "heading">Considerations for Eateries in Hostels 
            </h3>
            <p>As foremost institutes of national importance, IITs have a social responsibility of guiding consumption patterns for the collective benefit of students. One significant component of this within IIT campuses is the sale of food to students, especially near student residences. Such eateries cater to the diverse needs of students, which messes cannot fulfil, from daily cravings to celebratory treats for special occasions. Hence, they greatly influence activities within campuses. 
                <br><br>
                What factors should IITs scrutinise when deciding on renting spaces to eateries?
                <br><br>
                Although the control on eateries may not lie with student leaders in many institutes at present,
                we shall discuss some common policies on this matter which IITs can arrive at in the near future.
                Arriving at these policies requires addressing numerous disagreements. For instance, while preferring
                local caterers over influential MNCs might be more beneficial to the local economy, student tastes
                may crave for the opposite. In this manner, we plan on discussing the following:
                <br><br>
                <ul><li>Should allocation of eateries focus on the short-term savoury satisfaction of students or on their
                    long-term health and nourishment?</li>
                <li>Should IITs favour eateries of large MNC chains for their easier hygiene compliance and greater
                    capabilities of satisfying savoury needs? Or should we promote local caterers and sellers to
                    support the local economies better?</li>
                <li>Overlapping menus can lead to uneven competition between disparate entities. How can we
                    prevent this without making eateries complacent with service?</li>
                <li>How can we normalize prices across all eateries in a campus to prevent segregation of students
                    based on their ability to spend?</li>
                <li>What can student leaders do to ensure that the less organized caterers and food sellers maintain
                    better hygiene?</li>
                <li>How can the student leaders ensure that the eateries are able to cater specific needs of students
                    according to their food preferences? For instance, using separate utensils for vegetarian and
                    non-vegetarian food, eateries specifically for Jain food, etc.</li>
            </ul>

            </p>
            <br>

           
            

        <!--Participating IITs??-->
        </div>

        <br><br>
        <!--Footer-->
        <footer>
          <div class="container"><hr><br>
              <div class="row">
                  <div class="col-lg-8 col-md-10 mx-auto">
                  <ul class="list-inline text-center">
                      <li class="list-inline-item">
                      <a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
                          <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-facebook-f  fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                      </li>
                      <li class="list-inline-item">
                      <a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
                          <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                      </li>
                      <li class="list-inline-item" >
                      <a href="mailto:slc@iitgn.ac.in" target="_blank" id = "footer-icon">
                          <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                      </li>
                      <li class="list-inline-item" >
                      <a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
                          <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                      </li>
                  </ul>
                  <p class="copyright text-muted text-center">Copyright &copy; SLC 2024</p>
                  </div>
             </div>
          </div>
        </footer>
    </div>
    <!--Bootstrap and JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="js/slc2021.js"></script>
</body>
</html>