<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team | SLC 2021</title>
  <meta name="author" content="Reuben Devanesan| Rishabh Gupta, B.Tech Chemical Engineering | Shubh Lavti, B.Tech Computer Science">
  <meta name = "description" value = "Student Leadership Conclavea is a forum to bring together the student leaders of all IITs to brainstorm the solutions to different issues, currently ailing the students of IITs.">
  <meta name = "keywords" content = "Student Leadership Conclave, IIT Gandhinagar, Indian Institute of Technology Gandhinagar, Student Leaders, SLC 2021, SLC">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/team.css">
  <link rel="icon" href="/images/iitgnlogo.png">
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,500,800" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class = "site"> <!--Done for responsivesness cause a mobile ignores the css for the body tags-->
		<!--Navbar-->
        <header>
            <nav class = "navbar navbar-expand-lg fixed-top navbar-light">
                <a class="navbar-brand" href="/">Student Leadership Conclave</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>        
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc-2021">SLC 2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prev-editions">Previous Editions</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link" href="/sod/slc-2021">Summary of Discussions</a>
                          <button class=" dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          </button>  
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							  <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2021">SLC 2021</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2020">SLC 2020</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2019">SLC 2019</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2018">SLC 2018</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/team">Team</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
		<br><br><br>
		<h1 class="heading-sites">Team Coordinators</h1>
		<div class="four-person">
			<div class="row custom">
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="contact">
							<div class="img">
								<img src="/images/Team/abhiraj1.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
								<span class="tag stag">
									Abhiraj Basin
								</span>
							</div>
						</div>
					</div>
					<br>

					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="contact">
							<div class="img">
								<img src="/images/Team/revant1.jpeg" class="img-fluid mx-auto d-block rounded-circle contact-img">
								<span class="tag stag">
									Revant Shah
								</span>
							</div>
						</div>
					</div>
					<br>
			</div>
		</div>
		<br>
		<br>

		<h1 class="heading-sites">Team Members</h1>
		<div class="four-person">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<div class="img">
							<img src="/images/Team/aditi.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Aditi Gera
							</span>
						</div>
					</div>
				</div>
				<br>

				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<div class="img">
							<img src="/images/Team/dhruvi.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Dhruvi Lodhavia
							</span>
						</div>
					</div>
				</div>
				<br>

				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<div class="img">
							<img src="/images/Team/faheem.jpeg" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Faheem Shanavas
							</span>
						</div>
					</div>
				</div>
				<br>

		
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<div class="img">
							<img src="/images/Team/isha_bayad.jpeg" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Isha Bayad
							</span>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
		

		<div class="four-person">
			<div class="row">

				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<div class="img">
							<img src="/images/Team/Me.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Reuben Devanesan
							</span>
						</div>
					</div>
				</div>
				<br>

				<!-- <div class="col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<div class="img" >
							<img src="/images/Team/sakshib.jpeg" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Sakshi Baheti
							</span>
						</div>
					</div>
				</div>
				<br> -->

				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<div class="img">
							<img src="/images/Team/udit.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Udit Vyas
							</span>
						</div>
					</div>  
				</div>
				<br>
		
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<div class="img">
							<img src="/images/Team/sakshi_jagtap.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Sakshi Jagtap
							</span>
						</div>
					</div>  
				</div>
				<br>
			
			</div>
		</div>
		<br>
		<br>

		<h1 class="heading-sites">Website Developers</h1>
		<div class="four-person">
			<div class="row">

				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="contact">
						<div class="img" >
							<img src="/images/Team/aditya.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Aditya Shekhar
							</span>
						</div>
					</div>
				</div>
				<br>

				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="contact">
						<div class="img">
							<img src="/images/Team/Me.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Reuben Devanesan
							</span>
						</div>
					</div>
				</div>
				<br>
			
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="contact">
						<div class="img">
							<img src="/images/Team/rishabh.JPG" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Rishabh Gupta
							</span>
						</div>
					</div>
				</div>
				<br>
		
				<!--<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<div class="img">
							<img src="/images/Team/udit.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
							<span class="tag stag">
								Udit Vyas
							</span>
						</div>
					</div>  
				</div>-->
				<br>

			</div>
		</div>
		
		<br><br>
		<!--Footer-->
		<footer>
			<div class="container"><hr><br>
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
					<ul class="list-inline text-center">
						<li class="list-inline-item">
						<a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
							<span class="fa-stack fa-lg">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fab fa-facebook-f  fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						</li>
						<li class="list-inline-item">
						<a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
							<span class="fa-stack fa-lg">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fa fa-globe fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						</li>
						<li class="list-inline-item" >
						<a href="mailto:slc@iitgn.ac.in" target="_blank" id = "footer-icon">
							<span class="fa-stack fa-lg">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						</li>
						<li class="list-inline-item" >
						<a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
							<span class="fa-stack fa-lg">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						</li>
					</ul>
					<p class="copyright text-muted text-center">Copyright &copy; SLC 2021</p>
					</div>
			</div>
			</div>
		</footer>
	</div>
	<!--Bootstrap and JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>
</html>