<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>SLC 2020 | Student Leadership Conclave</title>
    <meta name = "author" content = "Reuben Devanesan | Aditya Shekhar">
    <meta name = "description" value = "Student Leadership Conclavea is a forum to bring together the student leaders of all IITs to brainstorm the solutions to different issues, currently ailing the students of IITs.">
    <link rel = "icon" href = "/images/iitgnlogo.png">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Stylesheet-->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/sod.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,500,800" rel="stylesheet">
    <!--Fonts-->
    <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="site"> <!--For responsiveness in mobile devices-->
        <!--Navbar-->
        <header>
            <nav class = "navbar navbar-expand-lg fixed-top navbar-light">
                <a class="navbar-brand" href="/">Student Leadership Conclave</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>        
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc-2021">SLC 2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prev-editions">Previous Editions</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link active" href="/slc-2020">Summary of Discussions</a>
                          <button class=" dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          </button>  
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2020">SLC 2020</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2019">SLC 2019</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2018">SLC 2018</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/team">Team</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br><br>
        <div class="header">
            <div class="progress-container">
              <div class="progress-bar" id="myBar"></div>
            </div>  
        </div>

        <div id = "top">
            <button id = "myBtn"><a href = "#top" id = "top-icon"><i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i></a></button>
        </div>

        <div id = "main-content">        
            <div class = "row">
                <!--Summary of Discussions-->
                <div class = "col-sm-12 col-md-12 col-lg-12">
                    <h1 class = "heading display-2 text-center">SLC 2020</h1>
                    <h1 class = "heading display-4 text-center">SUMMARY OF DISCUSSIONS</h1>
                    <div id = "agenda1">
                        <br>
                    </div>
                    <hr>
                    <br>
                    <!--Agenda 1-->
                    <div class = "agenda1">
                        <div class = "heading">
                            <h3>1. Professional and Shared Living Space Etiquettes/Skills</h3>
                        </div>
                        <div class = "text">
                            <h6>A. The IITs house some of the most brilliant minds of our country. However, according to the feedback from
                                some hiring firms, they lack professional skills. These skills include students to be well-groomed, write
                                clearly and have a proper business meeting etiquette. This is crucial for them to thrive in various
                                workspaces, be it industry or academia at both national and international levels.
                                What can student leaders do beyond organizing workshops and seminars to address these specific
                                problems? How can a student leader make the student body realize the importance of such professional
                                skills? </h6>
                            • These are the main points that were put forward in the discussions -
                            <br>
                            • The supreme challenge for the student leaders is to make the students recognize the domains in
                            which they lack professional skills.
                            <br>
                            • Several student leaders recommended basic English tests, mock interviews for placements and other
                            similar activities related to professional development for students (this may involve help from external
                            agencies - eg. Hotel Management, Indian Armed Forces, etc.).
                            <br>
                            • Student leaders may explore effective initiatives taken up by various colleges/universities such as
                            Monash University, Australia that help students improve their oratory and debating skills. They can
                            also motivate students to participate in club activities to learn and practice these skills.
                            <br>
                            • Student leaders may promote a culture of basic meeting etiquettes such as punctuality, dressing and
                            preparing minutes of the meeting. This will also help students develop professional skills.
                            <br>
                            • Student leaders may invite immediate graduates to help students with mock tests and interviews.
                            <br>
                            • An idea of having a “Formal Day” was proposed - all students will be required to follow professional
                            etiquettes and self-assess at the end of the day.
                            <br>
                            • Student Leaders may themselves attend workshops and seminars on professional skills and then
                            propagate these skills into the student community.
                            <br>
                            • Freshmen may be divided into groups led by independent consultants. These consultants may help
                            identify something unique in every student and encourage them to pursue those skills. This will focus
                            on large scale involvement.
                            <br>
                            • The E-cell of different institutes may help the freshers and sophomores connect with startups. This will
                            help students in performing better in interviews and group discussions.
                            <br>
                            • Individual presentations may be included in the Induction Program. Presenting in front of batchmates
                            and professors could help them overcome stage fright.
                            <br>
                            • A few initiatives and existing practices that came up in the meeting are
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - IIT Delhi’s Enactus club follows a culture of punctuality, professionalism and other basic meeting
                            etiquettes in student meetings.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - IIT Bombay and IIT Madras conduct English Buddy Program to help students improve their basic
                            English.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - IIT Roorkee organizes a personality development program in which junior and senior undergraduate
                            students (around 50-100) mentor 10 to 15 freshmen each.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - IIT Gandhinagar conducted a session ‘Interact & Learn’ this year, where seniors and alumni highlight
                            the importance of soft skills in professional life.
                        </div>
                        <br>
                        <div class = "text">
                            <h6>B. IIT students live in a shared living space. There are several skills and etiquettes that they must inculcate to
                                ensure a respectful coexistence. Some of these include keeping the toilets clean, not wasting food,
                                respecting others’ personal space, being aware of first aid knowledge etc. How can student leaders help in
                                inculcating these skills and etiquette among students without being “preachy”?</h6>   
                            • These are the main points that were put forward in the discussions -
                            <br>
                            • Student leaders may initiate inter-hostel competitions in order to promote cleanliness in the campus.
                            (For example: General Championships like ‘My hostel, my home’)
                            <br>
                            • Students leaders can take following actions to minimise food wastage in the mess
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Data visuals highlighting the waste produced every day may be displayed in the mess. A
                            system can be set up to distribute the unserved food among those who are in need
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>o It has been observed that updating the mess menu on a regular basis and keeping a check on
                            the quality of food being served can reduce food wastage. Increasing the number of food
                            counters can reduce long queues. This can encourage the students to avoid serving excessive
                            quantities of food at a time.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Consider restricting in order to limit the amount of food taken in a single-serve.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Provide incentives to the mess and mess committee to increase hygiene and quality of food
                            provided in the mess.
                            <br>
                            • Student Leaders may organize regular workshops and drills for students and hostel guards to increase
                            awareness of proper first aid, fire safety and emergencies.
                            <br>
                            • Student Leaders may spread awareness regarding drug abuse and gender sensitization.
                            A few initiatives and existing practices that came up in the meeting are
                            <br>
                            • IIT Delhi’s Enactus club follows a culture of punctuality, professionalism and other basic meeting
                            etiquettes in student meetings.
                            <br>
                            • IIT Bombay and IIT Madras conduct English Buddy Program to help students improve their basic
                            English.
                            <br>
                            • IIT Roorkee organizes a personality development program in which junior and senior undergraduate
                            students (around 50-100) mentor 10 to 15 freshmen each.
                            <br>
                            • IIT Gandhinagar conducted a session ‘Interact & Learn’ this year, where seniors and alumni highlight
                            the importance of soft skills in professional life.
                        </div>
                    </div>

                    <div id = "agenda2">
                        <br><br>
                    </div>

                    <!--Agenda 2-->
                    <div class="agenda2">
                        <div class = "heading">
                            <h3>2. Promoting student collaborations among different IITs</h3>
                        </div>
                        <div class = "text">
                            <h6>Our experience says that there is scope beyond the existing platforms of providing students with a better
                                understanding of work culture, student life, etc. of peers from different IITs. This would help them to
                                explore, engage, and learn on both academic and non-academic fronts.
                                We intend to brainstorm ideas wherein students from different IITs would collaborate either physically or
                                digitally. What can student leaders do to promote more significant collaborations/ better relationships
                                among students with similar interests on a student-level? How can we ensure that the potential benefits
                                for students from these collaborations are maximized?
                                </h6>
                            • These are the main points that were put forward in the discussions -
                            <br>
                            • All the participants recognized a need to create a PAN IIT digital platform where students, professors,
                            and alumni can interact, discuss and collaborate. Success stories of students can be shared on this
                            platform. Moreover, various opportunities can be floated on this platform . Student leaders from IIT
                            Bombay, IIT Kharagpur, IIT Gandhinagar, and IIT Tirupati agreed to take the lead to create such a platform.
                            <br>
                            • General Secretaries from different IITs can explore the avenues for collaboration and competitions
                            between their IITs.
                            <br>
                            • Department/Discipline representatives can collaborate to organize competitions, workshops and field
                            visits.
                            <br>
                            • Students can organize competitions, projects, and conferences in zonal clusters among various IITs to
                            reduce logistical issues. Elements of online competitions can also be included.
                            <br>
                            • A few IITs are contemplating the idea of having joint career fairs. This will reduce problems faced during
                            placements by IITs having a smaller batch strength.
                            <br>
                            • A google group of General Secretaries of all IITs can be created to ease communication.
                            <br>
                            • Initiatives that have worked in different IITs:
                               <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Roopkund Treks - IITR
                               <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Invent@IITGN - IITGN
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Summer Internship Program for students from all IITs - SPARK (IITR), SURGE (IITK), SRIP (IITGn), etc.
                               <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Providing accommodation to students from different IITs pursuing internships in the same city -
                                IITB, IITD, IITKGP
                        </div>
                    </div>

                    <div id = "agenda3">
                        <br><br>
                    </div>

                    <!--Agenda 3-->
                    <div class="agenda3">
                        <div class = "heading">
                            <h3>3. Promoting Hands-on Learning in Courses</h3>
                        </div>
                        <div class = "text">
                            <h6>Hands-on learning helps students appreciate the utility of the concepts taught in the class. Moreover, it
                                enhances the students’ ability to apply their theoretical knowledge to real-world problems. The courses, at
                                present, have elements like labs and projects to provide the students with an opportunity for hands-on
                                learning. However, it has been observed that sometimes the students do not completely realize the
                                importance of these opportunities.
                                What can student leaders do to make students appreciate the already existing elements for hands-on
                                learning? What other initiatives can student leaders take to promote hands-on learning in courses? What
                                can student leaders do to help create an environment so that students involve themselves in hands-on
                                learning?
                            </h6>
                            • In the experience of the student leaders, the major impediments associated with making hands-onlearning a part and parcel of the overall academic journey of the students are:
                            <br>
                            • Availability of limited projects with an active hands-on learning component for the students.
                            <br>
                            • Lack of perseverance among students while working leads to incomplete projects.
                            Some of the ideas proposed addressing these issues were -
                            <br>
                            • A platform may be developed for interested students to collaborate and come up with student-run
                            projects related to the core courses.
                            <br>
                            • Student leaders may help collaborate with the industry to get course-related practical projects.
                            <br>
                            • Student leaders may come up with projects that use equipment/facilities in labs within the institute.
                            <br>
                            • Incentives may be provided at the end of the semester on the successful completion of academic
                            projects.
                            <br>
                            • Initiatives that have worked in different IITs:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Rural Immersion Program for students of Science and Engineering, IIT Bombay.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Student-run courses (like stock trading), IIT Gandhinagar.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o ‘1-2-3-4 Discover and Learn projects’, IIT Delhi.
                        </div>
                    </div>

                    <div id = "agenda4">
                        <br><br>
                    </div>

                    <!--Agenda 4-->
                    <div class="agenda3">
                        <div class = "heading">
                            <h3>4. Significance of courses other than one’s primary discipline</h3>
                        </div>
                        <div class = "text">
                            <h6>The curriculum of an IIT incorporates courses from a wide range of domains. These include courses that are
                                not directly linked to one's department/discipline. These courses are instrumental for the students in a
                                variety of ways. They are crucial in improving their skills, exploring different subjects and bridging the gap
                                between various fields. However, we have observed that some students fail to recognize the objective
                                behind the inclusion of such courses in the curriculum and therefore portray a lack of interest in the same.
                                What initiatives can the student leaders take to promote the importance of these courses
                                among students?                                
                            </h6>
                            • Student leaders agreed on the importance of including a variety of courses. The discussions proceeded
                            with the consensus that an undergraduate degree is more about exploring various subjects rather than
                            specialization.
                            <br>
                            • The main points that were put forward in the discussions were -
                            <br>
                            • Student leaders stated the issue of lack of awareness among students about the course content,
                            outcome and its importance. This lack of awareness is the reason behind students taking up courses
                            with lenient grading policy instead of choosing courses wisely.
                            <br>
                            • Student leaders suggested creating a portal that contains the details of the course contents and its
                            relevance. This portal would better serve its purpose if seniors explain real-life applications of the
                            courses.
                            <br>
                            • There is a need to create awareness about the compulsory courses, which are not domain-specific,
                            among freshmen and sophomores. For this, avenues can be created in the induction program or
                            during the initial weeks of the first year.
                            <br>
                            • To promote the relevance of these courses, faculty, alumni, and seniors can help in chalking out a
                            discipline/department wise roadmap.
                            <br>
                            • The importance of courses can be conveyed to students by citing examples of alumni who are
                            working in fields relevant to such courses.
                            <br>
                            • Students will appreciate the course if there are interdisciplinary projects through collaboration with
                            tinkering facilities.
                            <br>
                            • Various clubs can organise sessions to make students realise the importance of specific courses (E.g. -
                            Sessions on Economics by Finance club).
                            <br>
                            • Initiatives that have worked in different IITs:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Finance and management courses (by alumni) - IIT-BHU
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Gandhipedia - IIT KGP
                        </div>
                    </div>

                    <div id = "agenda5">
                        <br><br>
                    </div>

                    <!--Agenda 5-->
                    <div class="agenda5">
                        <div class = "heading">
                            <h3>5. To increase the involvement of students in voluntary community service programs</h3>
                        </div>
                        <div class = "text">
                            <h6>Community service is all about stepping up, lending a hand and working together for the benefit of others.
                                By volunteering in community service initiatives, students shoulder responsibility on a larger scale and they
                                become socially aware. They are exposed to new challenges, gain necessary experience and this indeed,
                                moulds them into better individuals.
                                <br>
                                How can more members from the student community be encouraged to volunteer in these activities? In
                                what way can we merge social responsibility into being a part of the mainstream college life?                                
                            </h6>
                            • These are the main points that were put forward in the discussions -
                            <br>
                            • Every club, be it technical or cultural, can engage in community service.
                            <br>
                            • IITs can adopt nearby villages to come up with solutions to various problems faced by them.
                            Student participation can be ensured by providing various incentives.
                            <br>
                            • Every IIT can take up one domain of social problem (sanitation, cleanliness drives, etc.) as a theme
                            for a semester. Students can collaborate with faculties to work on this problem throughout the
                            semester. Incentives can be provided to students with effective and implementable
                            solutions.Students can associate themselves with the schools in nearby villages and promote
                            “learning by doing”. This can be achieved by conducting fun activities or getting students involved
                            in DIY projects.
                            <br>
                            • Student leaders can conduct surveys in the nearby villages to know the problems faced by them
                            which can be floated as student-driven projects, overnight hackathons, etc.
                            <br>
                            • Completion of a minimum number of social hours can be made an eligibility criteria for students
                            who wish to contest for elections.
                            <br>
                            • Initiatives that have worked in different IITs:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Abhyuday - IIT Bombay
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o AINA - IIT Delhi
                        </div>
                    </div>

                    <br><br>
                    <!--Participants-->
                    <div class="agenda6">
                        <div class = "heading">
                            <h3>6. Participants</h3>
                        </div>
                        <div class = "text" style="text-align: left !important;">
                            <h6>Students that participated in the conclave</h6>
                            <div class = "row">
                                <div class = "col-md-6 col-sm-12">
                                    - Shreyam Chandra, IIT BHILAI
                                    <br>
                                    - Soumyajit Chandra, IIT BHUBANESHWAR
                                    <br>
                                    - Varshit Kumar, IIT BOMBAY
                                    <br>
                                    - Nikhil Swaraj, IIT DHANBAD (ISM)
                                    <br>
                                    - Mehul Bose, IIT DHARWAD
                                    <br>
                                    - Meghej Khandelwal, IIT GOA
                                    <br>
                                    - Divansh Singla, IIT HYDERABAD
                                    <br>
                                    - Rhythm, IIT INDORE
                                    <br>
                                    - MD. Salman Raza, IIT JAMMU
                                    <br>
                                    - Shivam Nirne, IIT JODHPUR
                                    <br>
                                    - Ninaad Lohakare, IIT KHARAGPUR
                                    <br>
                                    - Iniyan Ramasamy, IIT MADRAS
                                    <br>
                                    - Saurabh Singh, IIT MANDI
                                    <br>
                                    - Afroz Shaikh, IIT PALAKKAD
                                    <br>
                                    - Saurabh Upadhyay, IIT ROORKEE
                                    <br>
                                    - Yashvardhan, IIT ROPAR
                                    <br>
                                    - Raunak Ravindra Agarwal, IIT TIRUPATI
                                    <br>
                                    - Harshit Dixit, IIT VARANASI (BHU)
                                    <br>
                                    - Kaashika Prajaapat, IIT DELHI
                                    <br>
                                    - Lakhan Agrawal
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>General Secretary
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Abhiraj Bhasin
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Animesh Rastogi
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Dev Ajay Kakkad
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Kaushik Kumar Bhaiya
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Revant Shah
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Shantanu Sakti Jana
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Utkarsh Nanda
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                </div>
                                <div class = "col-md-6 col-sm-12">
                                    - Kumar Shivam, IIT BHILAI
                                    <br>
                                    - Neeraj Singh, IIT BHUBANESHWAR
                                    <br>
                                    - Aditya Chalishazar, IIT BOMBAY
                                    <br>
                                    - Sonali Sinha, IIT DHANBAD (ISM)
                                    <br>
                                    - Adhokshaja V Madhwaraj, IIT DHARWAD
                                    <br>
                                    - Pranav Yeola, IIT GOA
                                    <br>
                                    - Swetha Gummala, IIT HYDERABAD
                                    <br>
                                    - Gaurav Khadse, IIT INDORE
                                    <br>
                                    - Parmveer Nandal, IIT JAMMU
                                    <br>
                                    - Saksham Banga , IIT JODHPUR
                                    <br>
                                    - TYSS Santosh, IIT KHARAGPUR
                                    <br>
                                    - Ashish Bijlani, IIT MADRAS
                                    <br>
                                    - Sanjeev Yadav, IIT MANDI
                                    <br>
                                    - BVS Prasad, IIT PALAKKAD
                                    <br>
                                    - Aniket Jaiswal, IIT ROORKEE
                                    <br>
                                    - Rishabh Mudgal, IIT ROPAR
                                    <br>
                                    - Ali Asgar Musani, IIT TIRUPATI
                                    <br>
                                    - Vibhatsu Yadav, IIT VARANASI (BHU)
                                    <br>
                                    - Abhinav Gyan, IIT PATNA
                                    <br>
                                    - Pankaj Vatwani
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Technical Secretary
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Aditi Gera
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - C Faheem Shanavas
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Dhruvi Lodhavia
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Kshitij Sendre
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Ritik Jain
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                    <br>
                                    - Shivang Pareek
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>Team Member, Student Leadership Conclave
                                    <br>
                                    <span class = "nbspp-spacing">&nbsp;&nbsp;</span>IIT GANDHINAGAR
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <!--Footer-->
        <footer>
            <div class="container"><hr><br>
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                        <a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f  fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item">
                        <a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item" >
                        <a href="mailto:slc@iitgn.ac.in" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item" >
                        <a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted text-center">Copyright &copy; SLC 2021</p>
                    </div>
               </div>
            </div>
        </footer>
    </div>

    <!--Bootstrap and JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/sod.js"></script>
</body>
</html>