<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>SLC 2019 | Student Leadership Conclave</title>
    <meta name = "author" content = "Reuben Devanesan | Aditya Shekhar">
    <meta name = "description" value = "Student Leadership Conclavea is a forum to bring together the student leaders of all IITs to brainstorm the solutions to different issues, currently ailing the students of IITs.">
    <link rel = "icon" href = "/images/iitgnlogo.png">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Stylesheet-->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/sod.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,500,800" rel="stylesheet">
    <!--Fonts-->
    <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="site"> <!--For responsiveness in mobile devices-->
        <!--Navbar-->
        <header>
            <nav class = "navbar navbar-expand-lg fixed-top navbar-light">
                <a class="navbar-brand" href="/">Student Leadership Conclave</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>        
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc-2021">SLC 2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prev-editions">Previous Editions</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link active" href="/slc-2020">Summary of Discussions</a>
                          <button class=" dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          </button>  
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2020">SLC 2020</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2019">SLC 2019</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc-2018">SLC 2018</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/team">Team</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br><br>
        <div class="header">
            <div class="progress-container">
              <div class="progress-bar" id="myBar"></div>
            </div>  
        </div>

        <div id = "top">
            <button id = "myBtn"><a href = "#top" id = "top-icon"><i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i></a></button>
        </div>

        <div id = "main-content">        
            <div class = "row">
                <!--Summary of Discussions-->
                <div class = "col-sm-12 col-md-12 col-lg-12">
                    <h1 class = "heading display-2 text-center">SLC 2019</h1>
                    <h1 class = "heading display-4 text-center">SUMMARY OF DISCUSSIONS</h1>
                    <div id = "agenda1">
                        <br>
                    </div>
                    <hr>
                    <br>
                    <!--Agenda 1-->
                    <div class = "agenda1">
                        <div class = "heading">
                            <h3>1. Professional and Shared Living Space Etiquettes/Skills</h3>
                        </div>
                        <div class = "text">
                            <h6>Academic integrity is ensuring that the work you turn in is your own. The trust
                            this builds is critical to teamwork, leadership and collaborative learning. However
                            academic dishonesty is still an issue plaguing academic institutions in India. The
                            most common excuse (other than claiming lack of awareness) is the justification that
                            the act is a one time event due to extraordinary circumstances. How do we create
                            an environment within our institutions wherein even a case of minor dishonesty is
                            perceived as a grave offense? How can we encourage the student community to be
                            conscient regarding passing off others’ work as their own? What can student leaders
                            do to make the community realize the importance of academic integrity and adhere
                            to it as second nature? How do we encourage students to report any instances of
                            academic dishonesty?</h6>
                            • Violations of academic integrity stem largely from poor self-confidence in
                            students, fear of failure and lack of interest in specific subjects.
                            <br>
                            • Various IITs mandate different punishments, varying as per degrees of offence in most cases. Some of them are as follows:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Reduction in grade points
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Fail grade in course
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Suspension for a semester or a year
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Probation, which includes disqualification from contesting elections and holding positions of responsibility
                            <br>
                            • Some implementable recommendations that student representatives broadly agreed upon are:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Spreading awareness about Intellectual Property Rights.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Including a mandatory communication skills course to highlight plagiarism within the curriculum.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Improving faculty-student interactions to bring both of them to a common ground where they can freely discuss and debate about issues of academic integrity.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Enforcing plagiarism checks in projects and theses.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Promoting strong punishments to act as deterrents.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Punishing every guilty student in proportion to the severity of their violation.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Bringing student representatives and administration together to decide on these punishments collectively on a case to case basis.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Effectively handling issues related to academic integrity in courses on the faculty side (such as originality of course content and proper academic practices - such as citations - in their course material)
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Encouraging professors to set realistic timelines for assignments and projects to deter malpractices.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Encouraging professors to prepare different question paper sets for examinations and new question papers every year.
                            <br>
                            • The system of branch/department change is paradoxical; students need to work
                            extremely hard on all courses irrespective of their branch or interest to get what
                            they want. To survive the immense competition for branch change, students
                            may feel that academic dishonesty in courses which they aren’t interested
                            in is acceptable in order to get into a branch they’re actually interested in.
                            Discouraging academic dishonesty early into college life requires a wholesome
                            rethinking of the branch allotment and branch change policy.                                
                        </div>
                    </div>

                    <div id = "agenda2">
                        <br><br>
                    </div>

                    <!--Agenda 2-->
                    <div class="agenda2">
                        <div class = "heading">
                            <h3>2. Exposure to research for undergraduate students </h3>
                        </div>
                        <div class = "text">
                            <h6>Research is an activity that involves exploring and proposing new knowledge, facts,
                            methods, conclusions or discoveries, or implementing existing knowledge to solve new
                            problems.
                            Students entering their first year in an IIT are habituated to rote learning. Exposure to research at an undergraduate level helps students acquire skills such as critical
                            thinking, an independent approach to problem-solving, and perseverance. Moreover,
                            at an undergraduate level, students can freely explore cutting-edge topics related to
                            their diverse areas of interest, which they might not have the opportunity to do later.
                            Most undergraduate students feel research projects are only beneficial for those who
                            want to pursue graduate studies. There is a need to change this perception. We would
                            like to explore ways to promote research at an undergraduate level. How can we make
                            our respective student communities and faculty members aware of the importance of
                            undergraduate research?
                            </h6>
                            • In the experience of student leaders, the following issues have resulted in limited exposure to research among undergraduate students:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Professors usually give undergraduate students undemanding projects or reading projects due to their relatively inadequate knowledge.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - In most cases, doing a project and building a skill-set for placements are incorrectly viewed as mutually exclusive pursuits.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Students deter their juniors from taking up projects because of the misconception that those who do projects pursue only graduate studies.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Students usually prefer positions of responsibility over research projects because of the perception that most companies prefer the former.
                            <br>
                            • To increase the visibility of undergraduate research, student-run media bodies can publicise student projects.
                            <br>
                            • Student leadership can recommend the inclusion of project components in courses to expose students to research.
                            <br>
                            • Competitions and awards can incentivise and publicise student projects.
                            <br>
                            • Setting up an undergraduate research portal where professors may float projects can increase awareness about possible research opportunities among students.
                            <br>
                            • Graduate students can conduct workshops to introduce tools to undergraduates.
                            <br>
                            • Product-oriented research could lead to start-up ideas.
                            <br>
                            • Undergraduates may ask faculty for more challenging projects; at the same time, faculty may be encouraged to offer more challenging projects to undergraduates.
                            <br>
                            • Some initiatives that have worked in different IITs:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Students Undergraduate Research and Graduate Excellence (SURGE) program, IIT Kanpur
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Summer Research Internship Program (SRIP) and Undergraduate Research Conclave (UGRC), IIT Gandhinagar
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Summer Undergraduate Research Award (SURA), IIT Delhi
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Center for Innovation (CFI), IIT Madras
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Innovation Cell, IIT Bombay
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Research Conclave, IIT Guwahati
                        </div>
                    </div>

                    <div id = "agenda3">
                        <br><br>
                    </div>

                    <!--Agenda 3-->
                    <div class="agenda3">
                        <div class = "heading">
                            <h3>3. Student well-being</h3>
                        </div>
                        <div class = "text">
                            <h6>Emotional, psychological, and social well-being of all students is extremely important
                            for their health, academic progress, and holistic growth. Students who face issues related to their well-being have the opportunity to avail on-campus counselling services
                            to help them deal with and overcome these problems. However, due to various reasons such as the fear of being perceived as ‘psychologically weak’ or ‘emotionally unstable’
                            many students do not avail them until their problems compound and they reach a critical state of mental health.
                            What steps can the student community take to help students address problems related
                            to their well-being before these problems become too serious? Can workshops and group
                            therapy be introduced at a community-managed level to address important issues such
                            as academic stress, procrastination, time management, healthy sleep, addiction, social
                            confidence, and fending off peer and parental pressure? How can we structure these
                            programs? How can we integrate them with counselling services? What steps can
                            student leaders take to dispel any stigma associated with availing these programs and
                            counselling services?
                            </h6>
                            • Student well-being encompasses numerous topics. Some of the points raised, categorized very broadly, were:
                            <br>
                            1. Counselling services:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>(a) Stigma among students against physical counselling services
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>(b) Use of online counselling services (E.g.: YourDost)
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>(c) Engagement of Faculty Advisors in counselling
                            <br>
                            2. Socialization across different groups:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>(a) Faculty-student interactions
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>(b) Intra- and inter-batch interactions
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>(c) Inter-gender interactions
                            <br>
                            3. Performance issues: Procrastination, etc.
                            <br>
                            4. Issues such as addiction
                            <br>
                            • Representatives from several older IITs spoke about the shortage of counsellors
                            for their large student bodies.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - While some attributed this to archaic rules and red tape, almost everyone agreed upon a prevailing stigma among students against physical counselling in their colleges.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - This leads to under-utilisation of these services, and subsequently their neglect. Similarly, innovative initiatives, such as Anti-Addiction Clinics and casual sessions, also fail to make substantial impacts.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - On a whole, these services need institute-level refurbishing, particularly at IITs with large student bodies.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Counsellors can train students to counsel other students.
                            <br>
                            • Most IITs have arranged for online counselling platforms, such as YourDost. These platforms allow students to seek counselling anonymously from certified counsellors working on behalf of the platforms.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Institutes keep account of these platforms from regular reports and statistics.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - These platforms are unable to identify or inform institutes about extreme cases requiring urgent responses (e.g.: suicidal tendencies).
                            <br>
                            • Some key suggestions proposed to tackle issues related to student well-being were:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Building recreational spaces (for instance, with bubble wrap, balloons, whiteboards, punching bags etc.) in hostels for stress-busting.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Sessions by counsellors on time management, dealing with procrastination etc. can be conducted in public spaces to increase participation. These also work as a platform for students to get to know their counsellors better.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - Gender sensitization clubs can work on providing a safe space for discussion and helping build a more inclusive community.
                            <br>
                            • Unnecessary external media focus on progressive inter-gender hostel policies is negative, and inhibits positive inter-gender interactions on campus. Conservative mindset and lack of education and awareness outside campuses leads to backlash and slander.
                            <br>
                            • Initiatives that have worked in other IITs:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>• IIT Madras - “Leisure Time Activity Program” - engaged teachers for hobbies
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>• Comprehensive Viva Voce at IIT Gandhinagar
                        </div>
                    </div>

                    <div id = "agenda4">
                        <br><br>
                    </div>

                    <!--Agenda 4-->
                    <div class="agenda4">
                        <div class = "heading">
                            <h3>4. Linguistic groupism</h3>
                        </div>
                        <div class = "text">
                            <h6>IITs host students from all over the country. Often, freshers tend to form a group
                            based on the vernacular languages they speak. These groups formed on linguistic lines
                            often tend to deepen, leading to various problems. Students may miss out on the
                            opportunity to appreciate and learn from a diverse peer group.  
                            What can student leaders do to overcome language barriers within the student
                            body? Can specific events be organized that motivate students to learn about
                            different languages, their origins, and cultures? What could these be?
                            <br>
                            • How can student mentors promote greater cross-lingual fresher interactions?
                            <br>
                            • Should freshers be made to step out of their comfort zone by forcing them to
                            work in diverse groups?                                                             
                            </h6>
                            • Student leaders can encourage students to identify more with their hostels or halls than their linguistic groups through various initiatives.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>– Inter-hostel/hall programs and inter-batch competitions can promote cross-cultural student interactions.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>– Strengthening hostel/hall identities can lessen the deeply divisive effects of linguistic groups in elections.
                            <br>
                            • There are two ways institutes can tackle linguistic groupism:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>– Pushing students of different cultures to assimilate into the institute culture. For example, institutes can strategically house first-year students from different states together to enhance interaction among various linguistic groups.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>– Helping students settle into college life by sending them to instituterecognized regional societies before introducing them to the institute culture.
                            <br>
                            • Students of different linguistic groups can collaborate over teaching languages and organizing regional festivals in a multicultural team, so that students get to learn about and appreciate other cultures and languages.
                            <br>
                            • Awareness about and participation in nationwide initiatives like ‘Ek Bharat - Shreshtha Bharat’ can help students develop a deeper appreciation for different cultures.
                        </div>
                    </div>

                    <br><br>
                    <!--Participants-->
                    <div class="agenda6">
                        <div class = "heading">
                            <h3>6. Participants</h3>
                        </div>
                        <div class = "text" style="text-align: left !important;">
                            <h6>Students that participated in the conclave</h6>
                            <div class = "row">
                                <div class = "col-md-6 col-sm-12">
                                    - Sudhir Narwal, IIT (BHU) Varanasi
                                    <br>
                                    - Ankush Galav, IIT (BHU) Varanasi
                                    <br>
                                    - Ketan Mishra, IIT Bhilai
                                    <br>
                                    - Shashwat Singh, IIT Bhilai
                                    <br>
                                    - Aditya Chalishazar, IIT Bombay
                                    <br>
                                    - Prabhat Kanaujia, IIT Delhi
                                    <br>
                                    - Tejasva, IIT Delhi
                                    <br>
                                    - Shruti Patel, IIT Dharwad
                                    <br>
                                    - Samveed Desai, IIT Dharwad
                                    <br>
                                    - Prabal Bhatnagar, IIT Goa
                                    <br>
                                    - Ansh Rajdev, IIT Goa
                                    <br>
                                    - Shradha Pruthi, IIT Guwahati
                                    <br>
                                    - Pankaj Kumar, IIT Guwahati
                                    <br>
                                    - Devashish Shukla, IIT Indore
                                    <br>
                                    - Aman Singh, IIT Tirupati
                                    <br>
                                    - Amar Jyoti, IIT Madras
                                    <br>
                                    - Arvind Kumar, IIT Madras
                                    <br>
                                    - Aditya Rathi, IIT Gandhinagar
                                    <br>
                                    - Akash Pallath, IIT Gandhinagar
                                    <br>
                                    - Ansh Joshi, IIT Gandhinagar
                                    <br>
                                    - Animesh Rastogi, IIT Gandhinagar
                                    <br>
                                    - Anusha Kamath, IIT Gandhinagar
                                    <br>
                                    - Varun Dolia, IIT Gandhinagar
                                    <br>
                                </div>
                                <div class = "col-md-6 col-sm-12">
                                    - Sandharb Sahu, IIT Indore
                                    <br>
                                    - Saurabh Raj, IIT Jammu
                                    <br>
                                    - Rishabh Kanabar, IIT Jodhpur
                                    <br>
                                    - Mukesh Sharma, IIT Jodhpur
                                    <br>
                                    - Pratyush Rai, IIT Kanpur
                                    <br>
                                    - Ayushya Agarwal, IIT Kanpur
                                    <br>
                                    - Vishal Kumar Singh, IIT Kharagpur
                                    <br>
                                    - Krushi Bandi, IIT Kharagpur
                                    <br>
                                    - Ashish Raj, IIT Patna
                                    <br>
                                    - Utsav N Dattani, IIT Patna
                                    <br>
                                    - Rajendra Thottempudi, IIT Roorkee
                                    <br>
                                    - Vadada Kalyan Kumar, IIT Roorkee
                                    <br>
                                    - Akash Verma, IIT Ropar
                                    <br>
                                    - Utkarsh Katiyar, IIT Ropar
                                    <br>
                                    - R. Leela Krishna Mohan, IIT Tirupati
                                    <br>
                                    - Ayan Rakshit, IIT Gandhinagar
                                    <br>
                                    - Dev Kakkad, IIT Gandhinagar
                                    <br>
                                    - Kshitij Sendre, IIT Gandhinagar
                                    <br>
                                    - Ritik Jain, IIT Gandhinagar
                                    <br>
                                    - Sai Pavan Chitta, IIT Gandhinagar
                                    <br>
                                    - Shivang Pareek, IIT Gandhinagar
                                    <br>
                                    - Utkarsh Nanda, IIT Gandhinagar
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <!--Footer-->
        <footer>
            <div class="container"><hr><br>
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                        <a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f  fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item">
                        <a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item" >
                        <a href="mailto:slc@iitgn.ac.in" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item" >
                        <a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted text-center">Copyright &copy; SLC 2021</p>
                    </div>
               </div>
            </div>
          </footer>
    </div>

    <!--Bootstrap and JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/sod.js"></script>
</body>
</html>