<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>SLC 2018 | Student Leadership Conclave</title>
    <meta name = "author" content = "Reuben Devanesan | Aditya Shekhar">
    <meta name = "description" value = "Student Leadership Conclavea is a forum to bring together the student leaders of all IITs to brainstorm the solutions to different issues, currently ailing the students of IITs.">
    <meta name = "keywords" content = "Student Leadership Conclave, IIT Gandhinagar, Indian Institute of Technology Gandhinagar, Student Leaders, SLC 2021, SLC">
    <link rel = "icon" href = "/images/iitgnlogo.png">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Stylesheet-->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/sod.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,500,800" rel="stylesheet">
    <!--Fonts-->
    <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="site"> <!--For responsiveness in mobile devices-->
        <!--Navbar-->
        <header>
            <nav class = "navbar navbar-expand-lg fixed-top navbar-light">
                <a class="navbar-brand" href="/">Student Leadership Conclave</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>        
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc-2021">SLC 2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prev-editions">Previous Editions</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link active" href="/sod/slc-2021">Summary of Discussions</a>
                          <button class=" dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          </button>  
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2021">SLC 2021</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2020">SLC 2020</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2019">SLC 2019</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/sod/slc-2018">SLC 2018</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/team">Team</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br><br>
        <div class="header">
            <div class="progress-container">
              <div class="progress-bar" id="myBar"></div>
            </div>  
        </div>

        <div id = "top">
            <button id = "myBtn"><a href = "#top" id = "top-icon"><i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i></a></button>
        </div>

        <div id = "main-content">        
            <div class = "row">
                <!--Sidebar Navigation
                <div class = "col-md-4 col-lg-1">
                    <br>
                    <nav id = "sidebarMenu" class = "sidebar">
                        <div class="position-sticky">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#agenda1">
                                        <span data-feather=""></span> Agenda 1
                                    </a>
                                </li>
                                <br>
                                <li class="nav-item">
                                    <a class="nav-link" href="#agenda2">
                                    <span data-feather=""></span> Agenda 2
                                    </a>
                                </li>
                                <br>
                                <li class="nav-item">
                                    <a class="nav-link" href="#agenda4">
                                    <span data-feather = ""></span> Agenda 4
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                -->
                <!--Summary of Discussions-->
                <div class = "col-sm-12 col-md-12 col-lg-12">
                    <h1 class = "heading display-2 text-center">SLC 2018</h1>
                    <h1 class = "heading display-4 text-center">SUMMARY OF DISCUSSIONS</h1>
                    <div id = "agenda1">
                        <br>
                    </div>
                    <hr>
                    <br>
                    <!--Agenda 1-->
                    <div class = "agenda1">
                        <div class = "heading">
                            <h3>1. Reinforcing students’ confidence through peer assistance and learning</h3>
                        </div>
                        <div class = "text">
                            <h6>A. Our experience says that many students are not accustomed to the teaching style in IIT. We intend to explore
                            ideas wherein senior students can help their juniors to have a smooth transition in their academics. Can we
                            provide a forum to students for clearing doubts and also continuing discussion that require more leisure
                            beyond the classroom hours? </h6>
                            • Difficult to sustain interactions between seniors and juniors. This could be because of introvertedness
                            of juniors across institutes.
                            <br>
                            • Most sessions suffer from poor turnout when they’re oriented towards learning. Exam-oriented
                            sessions, however, attract large numbers.
                            <br>
                            • Programmes across institutes require mentors to hold a minimum grade for the courses they’re
                            interested in mentoring. Mentors could also be chosen on the basis of trial sessions which can bring
                            out their flair for teaching.
                            <br>
                            • In many places, such mentorship has increased interactions between seniors and juniors. Students
                            have appreciated this widely.
                            <br>
                            • Some institutes are presently suffering from a shortage of senior students interested in mentorship.
                            To incentivise them, they can be offered certificates.
                            <br>
                            • Sharing reading materials and notes has helped students cope up smoothly. Learning oriented peer
                            tuitions can be arranged keeping in mind that no spoon-feeding is encouraged. Mentor meetings
                            and periodic feedback regarding the sessions, when collected and shared with the faculty could
                            improve the effectiveness.
                            <br>
                            • A reward and recognition based system has encouraged students to apply as mentors and actively
                            participate in the initiatives.
                            <br>
                            • Peer learning encourages questioning and works best in an informal setting.
                            <br>
                            • Initiatives that have worked in different IITs:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>1. Tutorial Service Center, IIT Bombay
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>2. Department Academic Mentorship Programme, IIT Bombay
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>3. Explaining Concepts and Lectures, IIT Bombay
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>4. Synergize, IIT Bombay
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>5. AVANA, IIT Indore
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>6. Academic Discussion Hours, IIT Gandhinagar
                        </div>
                        <br>
                        <div class = "text">
                            <h6>B. Some skills of students can be immensely helpful to others. There are many things such as programming,
                            graphics, data analysis etc. which can be effectively taught by students. We would like to brainstorm on
                            how to create such opportunities for additional learning, what mechanisms might be helpful in identifying
                            suitable teachers and making such learning opportunities fruitful and engaging. </h6>   
                            • Though we have discussed several initiatives, the question posed remained unanswered.
                            <br>
                            • Conducting non-credit courses or similar initiatives by students is not convenient across institutes
                            because of difficulties in scaling them up. They require a large number of volunteers, who can be
                            attracted by monetary incentives.
                            <br>
                            • For longer courses, students can be asked to make security deposits of reasonable amounts which
                            will be refunded based on an attendance criterion. This can prevent students from dropping out.
                            <br>
                            • Such initiatives can also build up a sense of ownership among students conducting them. It can
                            personally help them develop responsibility towards the purpose of helping students learn more.
                            <br>
                            • Clubs can conduct hands-on sessions for freshmen. For example, the Supra team at IIT Mandi
                            introduces students to the components of a racing car and how each part works. Interested students
                            then join clusters that work on an area which interests them.
                            <br>
                            • Students can take the initiative to teach courses on a variety of topics. For this, they can float forms
                            to gauge interest.
                            <br>
                            • Conducting a competition at the end of a workshop encourages students to read up additional
                            material.
                            <br>
                            • Focusing on adding value to online resources caters to different proficiency levels and pace. Students
                            can be split into three groups based on their proficiency: beginner, intermediate and advanced.
                            Discussions across these groups and competitions can help novices build from the experiences of
                            the other groups.
                            <br>
                            • Documentation of B.Tech Projects may involve detailed description of the skills acquired and used
                            in the projects.
                            <br>
                            • Initiatives that have worked in different IITs:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>1. Bootcamps, IIT Bombay
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>2. External Affairs Cell, IIT Kharagpur
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>3. 20 days session in winters, IIT Kharagpur
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>4. Student-run courses, IIT Gandhinagar
                        </div>
                        <br>
                        <div class = "text">
                            <h6>C. We need our students to be sufficiently proficient in English to understand what they are being taught
                            in classrooms. Through peer-assisted learning, we look to encourage students to improve their English
                            through their interactions with seniors. To realise this, we are seeking inputs on developing more programs
                            and resources to enhance such peer learning opportunities. How can we choose these senior students? </h6>
                            • The Joint Entrance Examination (JEE) is conducted in several languages, but after coming to IIT,
                            students are forced to study in English.
                            <br>
                            • Various initiatives have worked in several IITs. For example, IIT Jammu has a “Learn to Speak”
                            initiative in which they encourage students to speak on various issues such as Demonitization, GST
                            etc. IIT Kharagpur has an English Lab. They ask students to speak on movies and TV series. There is
                            a programme called Peer-assisted Learning (PAL) at IIT Gandhinagar which works on similar lines.
                            <br>
                            • Communique at IIT Kharagpur holds informal student sessions which aim at helping in preparation
                            of GRE, TOEFL and internships.
                            <br>
                            • The tests for English can analyze grammar, writing and listening skills through aural comprehension.
                            <br>
                            • Support from external associations like British Council maybe useful introductory English courses if
                            they can be subsidised.
                        </div>
                        <br>
                        <div class = "text">
                            <h6>D. There will always be a role for lectures, books and exams in college. But there’s a limit to what can be learned
                            inside a classroom. We should do our students a favor and give them freedom to enjoy the vast educational
                            resources that lie just outside the door. IITians shouldn’t just enjoy thinking, they should also enjoy doing.
                            Whether it’s being really into tinkering, or being good at CAD work or getting a bliss on doing 3D printing
                            and metal work, we want students to be hands-on creative. What can student leadership do to promote
                            such activities and culture in general?</h6>
                            • In order to promote tinkering, students first need hassle-free access to tools, equipment and materials.
                            Students at different institutions have different means to access these facilities. For example, IIT Bombay
                            has a 24x7-open Tinkerer’s laboratory. Some IITs have equipment available at clubs, while in others,
                            students can access equipment and machinery in labs. IIT Guwahati has technical rooms in hostels.
                            <br>
                            • Rewards for completion of projects can promote the culture of hands-on learning in the community.
                            <br>
                            • Providing special access to labs and equipment can create a conducive environment for the technical
                            community.
                            <br>
                            • However, when labs and equipment are available for use by the community round the clock, safety
                            is a concern. Students can get injured when they operate heavy machinery without guidance/
                            supervision. Training programmes for freshmen in operation of machinery/tools during orientation
                            programmes, and having technicians available 24x7 for support can help alleviate this problem.
                            <br>
                            • The first and the second generation IITs can provide their facilities to the technical teams from the
                            third generation IITs where the infrastructure has not been setup yet.
                            <br>
                            • A work area, like the Tinkerer’s Lab (TL) at IIT Bombay, should be set-up under the technical club
                            with some advanced tools and machinery. Conducting events like ‘How Things Work?’ or ‘Tinkering
                            Lab - Talks’ periodically will encourage students to utilise the facility. To ensure optimal utilization of
                            facilities like TL, simpler projects can go to TL, and more complex projects can go to labs.
                            <br>
                            • Encouraging first year students to take up a technical project in the summer vacation can go a long
                            way in promoting a culture of ‘doing’ early on. Technical Councils or Clubs in institutes can float
                            projects and host these under initiatives like the Tinkering Lab (‘TL-Open Projects’ in IIT Bombay is
                            an example).
                            <br>
                            • To encourage hands-on learning, clubs can have demonstrations of their projects in their introductory
                            session.
                            <br>
                            • Hobby groups can initially target competitions; if they sustain for at least two years and show
                            consistent improvement, they may apply to become a club. Clubs can fund hobby groups under the
                            technical council.
                            <br>
                            • Blacklisting students for gross negligence and misuse of lab equipment builds a sense of shared
                            ownership and minimizes maintenance downtime.
                            <br>
                            • Fix the number of projects in a term - this will prevent the overuse of equipment. Stress on the
                            quality and not the number of projects that come out of these initiatives. Approved projects can be
                            queued until a slot opens up for them.
                            <br>
                            • A group of students can float project ideas on a virtual workspace (like Slack) and invite contributors.
                            <br>
                            • For competitions, a different approach to year-long and month-long competitions helps. Initially
                            faculty can mentor projects for some time, and when things begin to run smoothly, teams can start
                            to work independently.
                            <br>
                            • The interaction between undergraduates and postgraduates helps prepare for competitions.
                            <br>
                            • When teams evolve their source of funding can be changed and from Gymkhana to R&D, this can be
                            decided by certain committee and if needed they can also scrap the project.
                            <br>
                            • Courses that make students think out the box, such as the first-year course on Reverse Engineering
                            in the first year, which requires them to dismantle an instrument and study its components, helps
                            build engineering aptitude.
                        </div>
                    </div>

                    <div id = "agenda2">
                        <br><br>
                    </div>

                    <!--Agenda 2-->
                    <div class="agenda2">
                        <div class = "heading">
                            <h3>2. Imperative of soft skills</h3>
                        </div>
                        <div class = "text">
                            <h6>In workplaces today, soft skills are as important as technical expertise. Developing these skills is more
                            challenging and requires persistent and committed efforts. Do personal development courses and
                            networking with people both inside and outside an organisation help build soft skills? Can any collaborative
                            effort from all IITs work towards this goal to prepare future IITians for them stand out in the workplace? How
                            can we ensure that students take maximum benefit from these trainings?</h6>
                            • There is a common consensus that soft skills are essential to thrive in the world today. Unfortunately,
                            this realisation often comes to students late into their stay in college. To alleviate this, students can
                            collaborate with their placement or career development cells of their institutes.
                            <br>
                            • When defining soft skills, we came to decide that at the least they must include:
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>1. Confident public speaking
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>2. Delivering presentations
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>3. Formulating arguments
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>4. Imbibing work ethics
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>5. Writing skills for different requirements
                            <br>
                            • To improve public speaking, student leadership can arrange for interactions across batches. Over here,
                            juniors can be asked to talk on specific topics. These interactions need to be within suitable boundaries.
                            Hence they must be mandated from some institute authority as well. Open mics might not suit this
                            purpose since they allow good public speakers to inadvertently intimidate those in need.
                            <br>
                            • Several institutes host coaching groups such as TIME for conduct workshops. This is mainly for the
                            purpose of preparing for exams such as GRE or CAT.
                            <br>
                            • To improve basic speaking and writing skills, some institutes also host dedicated language cells.
                            They conduct mentorship sessions of students who’ve received scholarships requiring well-written
                            applications.
                            <br>
                            • One major challenge common to almost all institutes, however, is the difficulty in making students
                            realise their limited soft skills. Comprehensive solutions to this are difficult to find.
                            <br>
                            • In some institutes, Directors take initiatives to share reading lists with students. Those who can come
                            up with the best summaries to any of the books in them receive recognition.
                        </div>
                    </div>

                    <div id = "agenda4">
                        <br><br>
                    </div>

                    <!--Agenda 4-->
                    <div class="agenda4">
                        <div class = "heading">
                            <h3>3. Student academic conferences</h3>
                        </div>
                        <div class = "text">
                            <h6>The Student Academic Conference (SAC) can provide an opportunity for undergraduate and graduate
                            students from any disciplines to present their research in a professional academic setting. Student Research
                            refers to any scholarly or creative activity ranging from scientific experimentation, service-learning, and
                            literary criticism, to case-study design, and artistic expression.
                            In this unique venue, students will be able to see how their work compares with that of their peers, get
                            feedback on their work and presentation skills, and learn the intricacies of professional presentation in
                            their particular fields. We invite suggestions and ideas on how best we can plan and execute it.</h6>
                            • Several initiatives have worked in various IITs to promote UG research. For example, Undergraduate
                            <br>
                            • Research Awards in IIT Bombay.
                            <br>
                            • A platform can be provided to give an incentive to try research. Presenting a research paper should
                            not be made necessary. This can be merged into Inter - IIT Technical Meet.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Support - There won’t be any problem for initial funding. It will be easy to plan logistics.
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Challenge - It will be impossible for everyone to attend the conference due to the tight schedule of Inter IIT Tech meet.
                            <br>
                            • SAC can be initiated as a separate event.
                            <br>
                            • Resolution - Must be worked upon immediately. Since IIT Bombay will be organising Inter - IIT Tech
                            Meet, the same may take the lead in kicking off this novel initiative. It is, however, not necessary to
                            perceive and plan it as an event within Inter-IIT Tech Meet. 
                        </div>
                    </div>

                    <br><br>
                    <!--Participants-->
                    <div class="agenda6">
                        <div class = "heading">
                            <h3>Participants</h3>
                        </div>
                        <div class = "text" style="text-align: left !important;">
                            <h6>Students that participated in the conclave</h6>
                            <div class = "row">
                                <div class = "col-md-6 col-sm-12">
                                    • Anmol Gupta<br>
                                    General Secretary, Academic Affairs (UG)<br>
                                    IIT BOMBAY<br>
                                    <br>
                                    • Janmejay Rao<br>
                                    General Secretary, Academics Affairs<br>
                                    IIT GOA<br>
                                    <br>
                                    • Utkarsh Kumar Singh<br>
                                    Former President, Student Gymkhana<br>
                                    IIT INDORE<br>
                                    <br>
                                    • Akshit Kansra<br>
                                    Gymkhana Secretary<br>
                                    IIT JAMMU<br>
                                    <br>
                                    • Kumar Venkateshwar<br>
                                    Secretary, Academics and Careers Society<br>
                                    IIT JODHPUR<br>
                                    <br>
                                    • Krushi Bandi<br>
                                    General Secretary, Students’ Welfare<br>
                                    IIT KHARAGPUR<br>
                                    <br>
                                    • Abhishek Sharma<br>
                                    Academic Affairs Secretary<br>
                                    IIT MANDI<br>
                                    <br>
                                    • Rahul Jain<br>
                                    Sports Secretary<br>
                                    IIT PATNA<br>
                                    <br>
                                    • Pranjal Shukla<br>
                                    Academic Affairs Secretary<br>
                                    IIT TIRUPATI<br>
                                    <br>
                                    • Umang Bajaj<br>
                                    BTech Representative, Students Academic Board<br>
                                    IIT GUWAHATI<br>
                                    <br>
                                    • Pratik Chhajer<br>
                                    Coding Club and Training & Placement Cell<br>
                                    IIT ROPAR<br>
                                    <br>
                                    • Pramodh Rachuri<br>
                                    Secretary of Science and Technology<br>
                                    IIT BHILAI<br>
                                    <br>
                                    • Kushagra Agarwal<br>
                                    Convenor, UG Academic Affairs Committee<br>
                                    IIT VARANASI (BHU)<br>
                                    <br>
                                    • Deepak Dhariwal<br>
                                    Academic Secretary<br>
                                    IIT GANDHINAGAR<br>
                                    <br>
                                    • Anusha Kamath M.<br>
                                    Member, Student Academic Council<br>
                                    IIT GANDHINAGAR<br>
                                    <br>
                                    • Animesh Rastogi<br>
                                    Member, Student Academic Council<br>
                                    IIT GANDHINAGAR<br>
                                    <br>
                                    • Kshitij Sendre<br>
                                    Member, Student Academic Council<br>
                                    IIT GANDHINAGAR<br>
                                </div>
                                <div class = "col-md-6 col-sm-12">
                                    • Athul A<br>
                                    General Secretary, Technical Affairs<br>
                                    IIT BOMBAY<br>
                                    <br>
                                    • Prabal Bhatnagar<br>
                                    Academic Secretary<br>
                                    IIT GOA<br>
                                    <br>
                                    • Shivam Tayal<br>
                                    Academic Secretary<br>
                                    IIT INDORE<br>
                                    <br>
                                    • Aakar Sharma<br>
                                    Library Head<br>
                                    IIT JAMMU<br>
                                    <br>
                                    • Chirayu Prasar<br>
                                    Secretary, Cultural and Literary Society<br>
                                    IIT JODHPUR<br>
                                    <br>
                                    • Pratyush Vivek<br>
                                    Public Relations Chair, Technology Students’ Gymkhana<br>
                                    IIT KHARAGPUR<br>
                                    <br>
                                    • Manushree<br>
                                    Research Secretary<br>
                                    IIT MANDI<br>
                                    <br>
                                    • Shubhendu Yadav<br>
                                    General Secretary, Cultural Affairs<br>
                                    IIT PATNA<br>
                                    <br>
                                    • Parth Dhabalia<br>
                                    Sponsorship & PR Core, Tirutsava 2018<br>
                                    IIT TIRUPATI<br>
                                    <br>
                                    • Subodh Tripathi<br>
                                    Member, Student Academic Board<br>
                                    IIT GUWAHATI<br>
                                    <br>
                                    • Sai Srinadhu Katta<br>
                                    Academic Secretary (UG)<br>
                                    IIT ROPAR<br>
                                    <br>
                                    • Kushwaha Udit<br>
                                    Academic Affairs Secretary<br>
                                    IIT BHILAI<br>
                                    <br>
                                    • Nikhil Roy<br>
                                    General Secretary<br>
                                    IIT GANDHINAGAR<br>
                                    <br>
                                    • Ansh Joshi<br>
                                    Member, Student Academic Council<br>
                                    IIT GANDHINAGAR<br>
                                    <br>
                                    • Chitta Sai Pavan<br>
                                    Member, Student Academic Council<br>
                                    IIT GANDHINAGAR<br>
                                    <br>
                                    • Aditya Rathi<br>
                                    Member, Student Academic Council<br>
                                    IIT GANDHINAGAR
                                    <br>
                                    • Akash Pallath<br>
                                    Member, Student Academic Council<br>
                                    IIT GANDHINAGAR
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <!--Footer-->
        <footer>
            <div class="container"><hr><br>
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                        <a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f  fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item">
                        <a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item" >
                        <a href="mailto:slc@iitgn.ac.in" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item" >
                        <a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted text-center">Copyright &copy; SLC 2021</p>
                    </div>
               </div>
            </div>
        </footer>
    </div>

    <!--Bootstrap and JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/sod.js"></script>
</body>
</html>