<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>SLC 2021 | Student Leadership Conclave</title>
    <meta name = "author" content = "Reuben Devanesan | Aditya Shekhar">
    <meta name = "description" value = "Student Leadership Conclavea is a forum to bring together the student leaders of all IITs to brainstorm the solutions to different issues, currently ailing the students of IITs.">
    <meta name = "keywords" content = "Student Leadership Conclave, IIT Gandhinagar, Indian Institute of Technology Gandhinagar, Student Leaders, SLC 2021, SLC">
    <link rel = "icon" href = "/slc/public/images/iitgnlogo.png">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Stylesheet-->
    <link rel="stylesheet" href="/slc/public/css/common.css">
    <link rel="stylesheet" href="/slc/public/css/sod.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700,500,800" rel="stylesheet">
    <!--Fonts-->
    <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="site"> <!--For responsiveness in mobile devices-->
        <!--Navbar-->
        <header>
            <nav class = "navbar navbar-expand-lg fixed-top navbar-light">
                <a class="navbar-brand" href="/slc">Student Leadership Conclave</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>        
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/slc">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc/slc-2022">SLC 2022</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc/prev-editions">Previous Editions</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link active" href="/slc/sod/slc-2020">Summary of Discussions</a>
                          <button class=" dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          </button>  
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc/sod/slc-2021">SLC 2021</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc/sod/slc-2020">SLC 2020</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc/sod/slc-2019">SLC 2019</a></li>
                              <li class="nav-item"><a class="dropdown-item nav-link" href="/slc/sod/slc-2018">SLC 2018</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/slc/team">Team</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br><br>
        <div class="header">
            <div class="progress-container">
              <div class="progress-bar" id="myBar"></div>
            </div>  
        </div>

        <div id = "top">
            <button id = "myBtn"><a href = "#top" id = "top-icon"><i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i></a></button>
        </div>

        <div id = "main-content">        
            <div class = "row">
                <!--Summary of Discussions-->
                <div class = "col-sm-12 col-md-12 col-lg-12">
                    <h1 class = "heading display-2 text-center">SLC 2021</h1>
                    <h1 class = "heading display-4 text-center">SUMMARY OF DISCUSSIONS</h1>
                    <div id = "agenda1">
                        <br>
                    </div>
                    <hr>
                    <br>
                    <!--Agenda 1-->
                    <div class = "agenda1">
                        <div class = "heading">
                            <h3>1. ONLINE COLLABORATIVE LEARNING</h3>
                        </div>
                        <div class = "text">
                            <h6>Collaborative learning includes peer learning, academic interactions with seniors, and
                                out-of-the-classroom discussions with professors. It is an integral part of the IIT
                                education system and plays a significant role in developing one’s academic calibre.
                                Moreover, it also helps in building better relationships among the community.
                                However, the lack of collaborative learning in the online mode in comparison with the
                                offline mode has affected academic interactions, thereby hampering the learning
                                process.
                                <br>
                                How can student leaders ensure that collaborative learning is extended to an online
                                semester? What steps can the student leaders take to make online collaborative
                                learning more effective and fruitful?
                            </h6>
                            <hr>
                            Amidst the COVID-19 pandemic, our education system has been compelled to
                            function virtually. The student leaders agreed that collaborative learning is severely
                            lacking in the online mode. They also realised the need for bringing about innovative
                            ideas in the online teaching environment. The discussion, therefore, focused on
                            attempting to address some of the most common issues such as lack of interaction,
                            increased screen time, and helping freshers adjust to their college life.
                            <br>
                            <b>These are the main points that were put forward in the discussions -</b>
                            <br>
                            • Students can introduce domain-specific student mentorship. Individual mentors
                            can be allotted within different domains in academics, cultural, sports, etc.
                            <br>
                            • Student leaders agreed that there is a need for an effective way to manage all the
                            mentorship initiatives wherein students can appoint a convener who will oversee
                            the execution of the same.
                            <br>
                            • Student leaders suggested conducting online academic activities such as tutorials,
                            course projects, etc. in groups. This will encourage the students to connect with
                            each other and have productive discussions.                            
                            <br>
                            • Student leaders suggested the need for an informal interactive session at the end
                            of every lecture. This interactive session will facilitate students to have relevant
                            discussions with faculties and promote online collaborative learning.
                            <br>
                            • Students can form reading groups spanning a variety of genres like art, literature,
                            science, and technology for freshers. This will increase peer-to-peer interaction
                            and acquaint them with a variety of domains.
                        </div>
                    </div>

                    <div id = "agenda2">
                        <br><br>
                    </div>

                    <!--Agenda 2-->
                    <div class="agenda2">
                        <div class = "heading">
                            <h3>2. PROMOTING INNOVATION AMONG STUDENTS</h3>
                        </div>
                        <div class = "text">
                            <h6>Innovation involves critical thinking, interpreting and implementing creative ideas. It
                                can range from enhancing the value of an existing solution to creating a novel
                                technology. An innovative mindset supplements a student’s overall growth and is
                                highly valued in a workplace. Inclination towards scoring high grades may sideline
                                exploring unconventional paths. Innovation is often hard to teach in a traditional
                                classroom setting because it is unpredictable, requires learning by doing, and stems
                                from practice.
                                <br>
                                What steps can student leaders take to foster conceptual learning? How can student
                                leaders promote critical and creative thinking, and encourage the habit of coming up
                                with out of the box solutions among students? How can student leaders create a
                                culture of innovation among students?
                            </h6>
                            <hr>
                            The student leaders acknowledged the need to inculcate an innovative mindset among
                            the students. The discussions were focused on promoting innovation both on an Intracollege and Inter-IIT level.
                            <br>
                            <b>Intra - College initiatives put forward in the discussions are:</b>
                            <br>
                            • Students can organise an intra-college technical championship where students will
                            get a chance to work on industrial problem statements and come up with
                            innovative solutions. Alumni can be resourceful for organising such an event by
                            bringing in problem statements and evaluating the proposed solutions.                            
                            <br>
                            • Students can organise an annual Tech Day where students can showcase their
                            projects and other innovations. This will acquaint the student community with
                            ongoing research activities and projects in their institution.
                            <br>
                            • Students can introduce ‘Innovation Rooms’ in every hostel to encourage students
                            to come and exchange ideas and solutions on a daily basis. These rooms can be
                            creatively designed with prototyping facilities, toolkits, vending machines, bean
                            bags, etc. to create a comfortable environment facilitating innovative solutions for
                            everyday problems.                            
                            <br>
                            • Students can conduct sessions with alumni who can share their experience on
                            how an innovative mindset has helped them in their career paths.
                            <br>
                            • Students can set up ‘Opinion Boards’ in hostels or on social media platforms to
                            promote the exchange of ideas and discussions on a larger scale rather than
                            limiting it to one’s social group.
                            <br>
                            <b>Inter - IIT initiatives put forward in the discussions are:</b>
                            <br>
                            • Students can introduce competitions and awards at the Inter-IIT level (in events
                            such as Inter-IIT Tech Meet) to incentivise and publicise innovative projects.
                            Innovation activities can be posted weekly on social media pages to invoke a
                            culture of identifying and appreciating innovation.                                                    
                            <br>
                            • Students can create a portal that can serve as a formalised interface where
                            professors can offer academic projects and students can then apply for the same.
                            Furthermore, this interface can be scaled up to a PAN-IIT level to promote
                            academic collaborations
                            <br>
                            • Students can introduce ‘Innovation Rooms’ in every hostel to encourage students
                            to come and exchange ideas and solutions on a daily basis. These rooms can be
                            creatively designed with prototyping facilities, toolkits, vending machines, bean
                            bags, etc. to create a comfortable environment facilitating innovative solutions for
                            everyday problems.                            
                            <br>
                            • Student leaders can collaborate to set up a PAN-IIT question-and-answer platform
                            (such as Stack Exchange or Quora) related to daily problems that one might
                            encounter. Student leaders can formulate policies for the platform, initiate
                            discussions and regulate the conversations.
                            <br>
                            <b>Initiatives that have worked in different IITs:</b>
                            <br>
                            • Innovation Challenge - Students collaborate with professors to solve various
                            campus-related or abstract problems and the best solution is given an award - IIT
                            Bhubaneswar                          
                            <br>
                            • Nirmaan - A pre-incubation center that trains ten startups for one semester and
                            provides funding for innovation - IIT Madras
                            <br>
                            • Innovation driven Entrepreneurship (iDE) - An annual event that initiates researchbased ideation such that the future entrepreneurs can excel in the process of idea
                            formation and promote innovative ideas on the campus - IIT Gandhinagar                                                     
                            <br>
                            • Fora lab - A student-driven lab equipped with industrial-grade machines for
                            students to work on different projects - IIT Guwahati
                            <br>
                            • Course/Workshop on reverse engineering - The students explore a product under
                            the guidance of a faculty mentor to understand its design and working of the
                            product - IIT Mandi
                            <br>
                            • Course on human geography and society - Groups of students visit nearby villages
                            to find problems and come up with technological solutions to these problems - IIT
                            Ropar
                        </div>
                    </div>

                    <div id = "agenda3">
                        <br><br>
                    </div>

                    <!--Agenda 3-->
                    <div class="agenda3">
                        <div class = "heading">
                            <h3>3. OVERCOMING CASUAL SEXISM </h3>
                        </div>
                        <div class = "text">
                            <h6>Sexism is defined as prejudice, stereotyping, or discrimination based on a person’s
                                sex, be it male or female. Casual Sexism often arises and is given impetus due to our
                                inability to manage our ‘unconscious biases’. We all have these biases based on our
                                personal and social experiences. It prevails in IITs too as a consequence of actions
                                done deliberately, thoughtlessly, or humorously. It affects mental health, decreases
                                self-confidence, and negatively impacts one's performance in work.
                                <br>
                                One of the major reasons behind casual sexism is the lack of awareness regarding its
                                ill-effects. Identifying them on a cue can help us manage them, and therefore improve
                                our interpersonal relations at a micro-level and promote a safe environment at a macro
                                level. What can student leaders do to make the community aware of the adverse
                                effects of ‘casual sexism’ and overcome it?
                            </h6>
                            <hr>
                            The student leaders identified some of the most common areas where casual sexism
                            is prevalent at their institutes and the reasons behind why they may be originating in
                            the first place.
                            <b>• Casual Sexism - An issue applicable to both genders</b>
                            <br>
                            The student leaders addressed that casual sexism is an issue equally applicable to
                            males as well as females. However, this issue is often addressed as something
                            which is female-centric due to which males may often hold themselves back from
                            opening up and speaking out.
                            <br>
                            <b>• Lack of perspective</b>
                            <br>
                            There was a consensus among the student leaders regarding the lack of
                            perspective among the student community about what casual sexism is. Most of
                            the issues may arise as a result of unintentional actions or comments.
                            <br>
                            <b>• Stereotypical undermining of achievements</b>
                            <br>
                            The student leaders spoke about instances where female students’ achievements
                            and capabilities were overlooked by others. Their success was wrongly attributed
                            to an easy path paved for them because of their gender. Some examples include
                            securing internships or placements, winning institute elections, and performing well
                            in sports or cultural activities.
                            <br>
                            <b>• Addressal with gender-neutral terms  </b>
                            <br>
                            The student leaders also spoke about how important it is to address a group by
                            using only gender-neutral terms without neglecting a part of the group knowingly or
                            unknowingly.
                            <br>
                            <b>• Lack of interaction between students of the opposite gender </b>
                            <br>
                            The student leaders remarked that at certain institutes, the issues may be
                            originating due to the lack of interaction between the opposite genders which may
                            make them incapable of understanding others’ perspectives and thought
                            processes.
                            <br>
                            <b>• Low participation from female students</b>
                            <br>
                            Some of the student leaders put forth the issue of low participation from female
                            students to occupy important positions of responsibility or to contest in institute
                            elections. Due to the massive majority of male students within the community, the
                            female students may feel disconnected as there is no spontaneous communication
                            with whom they ought to represent.
                            <br>
                            The student leaders advocated the need to solve issues related to casual sexism by
                            addressing the root causes at their origin. Some of the suggested solutions are as
                            follows:
                            <br>
                            • A majority of the issues can be solved by enhancing the interaction between the
                            opposite genders right from the time they enter the institute. With greater
                            interaction, both genders would be aware of a multitude of perspectives making
                            their mental compass sensitive to simple issues along the lines of casual sexism.
                            Various team/group activities with an equal mix of both genders can be conducted
                            mandatorily for the same.
                            <br>
                            • Students can raise awareness about issues related to casual sexism by holding
                            experience-sharing sessions where students talk about situations they face in the
                            institute. Street plays or skits depicting such topics can also be effective tools to
                            involve the student community and make them think about their own
                            surroundings.                            
                            <br>
                            • Students can also attempt to solve the issue professionally by conducting talks by
                            psychologists to make students understand the mental aspect behind casual
                            sexism and the repercussions it may produce in the long run.
                            <br>
                            • The student leaders need to ensure that the administrative bodies or student
                            bodies do not promote such behaviour unknowingly or knowingly. This is to
                            recognize concerns raising by every person and not just a specific gender (males,
                            females, others). One initiating step can be to rename the student bodies/
                            positions with a gender-neutral term, if not done already
                        </div>
                    </div>

                    <div id = "agenda4">
                        <br><br>
                    </div>

                    <!--Agenda 4-->
                    <div class="agenda3">
                        <div class = "heading">
                            <h3>4. PROMOTING HEALTHY COMPETITION </h3>
                        </div>
                        <div class = "text">
                            <h6>Competitions are conventional ways of involving students in activities where they can
                                develop their skills, showcase their talents, and challenge themselves to perform
                                better. They certainly have learning outcomes, but occasionally end up creating
                                malignity in the minds of several individuals. The existing ways of student involvement
                                are largely competition driven, and seldom foster learning via mutual development.
                                Therefore, there is a need to ensure that competitions should not compromise the
                                moral values of the students, by inducing an ill feeling for other individuals.
                                <br>
                                What can student leaders do to promote the idea of collective growth along with
                                individual growth within the student community? How can we create an environment of
                                healthy competitions in all student activities including academics, internships or
                                placements?                              
                            </h6>
                            <hr>
                            The student leaders acknowledged that unhealthy competition exists in different
                            spheres of campus life, such as academics, career opportunities, and extracurricular
                            activities.
                            <br>
                            <b>• Academics</b>
                            <br>
                            Students that the likelihood of academic dishonesty has increased manifold in an
                            online semester. This has led to an increase in unhealthy competition among
                            students on account of relative grading.
                            <br>
                            Student leaders suggested a shift from conventional evaluation techniques and
                            promoting assessment based on projects, vivas, and group discussions to ensure
                            fair evaluation in the courses.
                            <br>
                            <b>• Internships and Placements</b>
                            <br>
                            Student leaders agreed that some managerial issues exist in the recruitment
                            process which need to be addressed. They shared instances wherein the
                            placement team members favour their acquaintances for recommendations and
                            other aspects during the same.
                            <br>
                            Student leaders suggested involving more than one representative for coordinating
                            with every company to reduce the chances of favouritism.
                            <br>
                            <b>• Intra College Fests </b>
                            <br>
                            Student leaders recognised that there is vigorous competition between different
                            fests to get the qualified set of students who are interested to be a part of the
                            organising team. The online mode has heightened this competition as everyone is
                            competing on the same online space to get recognition for their events.
                            Students can promote collaborative events between different fests and clubs to
                            overcome this problem. This will also improve the reach and participation in the
                            events.
                            <br>
                            <b>• Elections </b>
                            <br>
                            Student leaders mentioned various instances of unhealthy competition during the
                            annual elections such as hostel, discipline, and regional politics. They
                            acknowledged that there have been instances of few candidates and their allies
                            crossing moral boundaries to outwit their opponents.
                            <br>
                             o Student leaders proposed the idea of conducting interviews and open house
                             for candidates before the elections so that the student community can get a
                             clear understanding of the vision of the candidate.
                             o Student leaders also agreed that lack of accountability of elected positions of
                             responsibilities (POR’s) might lead to misconceptions in the student body.
                             Hence, they suggested increasing accountability and creating a sense of
                             awareness about the roles and responsibilities in the community.
                            <br>
                            The student leaders acknowledged that similar problems also exist in the nonelected POR's. Thus, the afore-mentioned solutions can also be extended to the
                            selection procedures for candidates of all the POR’s.
                            <br>
                            <b>Various Initiatives that have worked in different IITs:</b>
                            <br>
                            • Students who have received an internship/placement offer can guide and mentor
                            other students who are participating in the recruitment process - IIT Patna                         
                            <br>
                            • A common organising team for all fests was formed to reduce intra-fest
                            competition and increase accountability. These teams were made answerable to
                            the Gymkhana - IIT Indore
                            <br>
                            • Candidates that are contesting the election are interviewed to provide a clear
                            understanding of the candidate’s vision - IIT Madras
                            <br>
                            • An Open House is organized for candidates contesting the election. It provides the
                            candidates a platform to offer more clarity on their manifesto - IIT Gandhinagar                            
                        </div>
                    </div>

                    <div id = "agenda5">
                        <br><br>
                    </div>

                    <!--Agenda 5-->
                    <div class="agenda5">
                        <div class = "heading">
                            <h3>5. IMPROVING STUDENT-ALUMNI RELATIONS</h3>
                        </div>
                        <div class = "text">
                            <h6>“An organisation’s alumni are the reflection of its past, representation of its present
                                and a link to its future.” Building a strong student-alumni relationship is highly
                                beneficial for the students. The alumni of an institute contribute by mentoring students
                                in their areas of experience, be it higher education, entrepreneurship, placements, or
                                any other professional domain. The pre-existing methods of interactions are usually
                                limited to familiarising students with the institution and fostering relations with the
                                alumni. Although some students reach out to the alumni individually, there is a need to
                                introduce a more efficient approach to enhance the student-alumni relationship.
                                <br>
                                How can student leaders introduce a more effective way to develop a robust and
                                deep-rooted student-alumni network? What steps can student leaders take to enhance
                                the engagement of alumni in a student's future prospects?                                                           
                            </h6>
                            <hr>
                            <b>The main points that were put forward during the discussion were:</b>
                            <br>
                            • Students can conduct career guidance sessions organized by alumni regularly
                            throughout the year. Further, student leaders can invite industrial projects from
                            their alumni to expose the students to real-life problems.
                            <br>
                            • Student leaders suggested introducing a student representative in the Alumni
                            Interaction Cell of the Institution to streamline the process of contacting alumni and
                            building better alumni relations.
                            <br>
                            • Students can develop a portal where the alumni can maintain their professional
                            identity. Along with an institute-level portal, an inter-IIT alumni portal can also be
                            developed for better networking.
                            <br>
                            • Students can invite alumni back to the campus regularly and engage them in
                            campus activities to create a strong sense of attachment with the campus. Various
                            student groups/ clubs/ fests in IITs can also maintain their own alumni database
                            and organise events accordingly.
                            <br>
                            • Student leaders suggested giving special recognition to the alumni to celebrate
                            their achievements. This recognition can be in the form of newsletters, or posts on
                            social media.
                            <br>
                            <b>Various Initiatives that have worked in different IITs:</b>
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Alumni Chapters - IIT Madras
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Alumni Run Courses - IIT BHU
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o Student Alumni Interaction Linkage (SAIL) - IIT Guwahati
                            <br>
                            <span class = "nbspp-spacing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o IndustReal, a discipline-oriented interactive session with alumni - IIT Gandhinagar
                        </div>
                    </div>

                    <br><br>
                    <!--Participants-->
                    <div class="agenda6">
                        <div class = "heading">
                            <h3>Participants</h3>
                        </div>
                        <div class = "text" style="text-align: left !important;">
                            <h6>Students that participated in the conclave</h6>
                            <div class = "row">
                                <div class = "col-md-6 col-sm-12">
                                    - VIBHATSU YADAV, IIT (BHU) VARANASI
                                    <br>
                                    - VATSAL DWIVEDI, IIT (BHU) VARANASI
                                    <br>
                                    - KESHAV KUMAR SINGH, IIT (ISM) DHANBAD
                                    <br>
                                    - ARTI KUMARI, IIT (ISM) DHANBAD
                                    <br>
                                    - SHASHWAT JAISWAL, IIT BHILAI
                                    <br>
                                    - MOHIT SHARMA, IIT BHILAI
                                    <br>
                                    - S NIRANJAN, IIT BHUBANESWAR
                                    <br>
                                    - ANERI MANOJ GANDHI, IIT BHUBANESWAR
                                    <br>
                                    - MOHD ZAKIR HUSSAIN, IIT BOMBAY
                                    <br>
                                    - RADHIK RAMMOHAN, IIT BOMBAY
                                    <br>
                                    - SIDDHARTH CHOUBAY, IIT DELHI
                                    <br>
                                    - KARTIKEYA, IIT DELHI
                                    <br>
                                    - S U SWAKATH, IIT DHARWAD
                                    <br>
                                    - GOWRI Y SUBEDAR, IIT DHARWAD
                                    <br>
                                    - DEVANG JAIN, IIT GOA
                                    <br>
                                    - SAKSHAM GOYAL, IIT GOA
                                    <br>
                                    - YOGESH YADAV, IIT GUWAHATI
                                    <br>
                                    - PARTH BAJAJ, IIT GUWAHATI
                                    <br>
                                    - AAKASH DASWANI, IIT HYDERABAD
                                    <br>
                                    - ANISH KUMAR PURBEY, IIT HYDERABAD
                                    <br>
                                    - SUVANSH BHARGAVA, IIT ROPAR
                                    <br>
                                    - PARNAVI SHRIKHANDE, IIT ROPAR
                                    <br>
                                    - SHREYANSH MEHRA, IIT TIRUPATI
                                    <br>
                                    - ARPIT BANDEJIYA, IIT TIRUPATI
                                    <br>
                                    - ABHIRAJ BASIN, IIT GANDHINAGAR
                                    <br>
                                    - DEV AJAY KAKKAD, IIT GANDHINAGAR
                                    <br>
                                    - KAUSHIK KUMAR BHAIYA, IIT GANDHINAGAR
                                    <br>
                                    - REVANT SHAH, IIT GANDHINAGAR
                                    <br>
                                    - SHANTANU SAKTI JANA, IIT GANDHINAGAR
                                    <br>
                                    - SAKSHI BAHETI, IIT GANDHINAGAR
                                </div>
                                <div class = "col-md-6 col-sm-12">
                                    - SHREYANSH JAIN, IIT INDORE
                                    <br>
                                    - KANIKA, IIT INDORE
                                    <br>
                                    - SHUBHAM GAUR, IIT JAMMU
                                    <br>
                                    - TUSHAR GAUTAM, IIT JAMMU
                                    <br>
                                    - UMAIR ANIS, IIT JODHPUR
                                    <br>
                                    - HARIKRISHNA Y, IIT JODHPUR
                                    <br>
                                    - NIKUNJ KOTHARI, IIT KANPUR
                                    <br>
                                    - YASH MAHESHWARI, IIT KANPUR
                                    <br>
                                    - SHIVAM SINGH, IIT KHARAGPUR
                                    <br>
                                    - SAUMYATA KHANDELWAL, IIT KHARAGPUR
                                    <br>
                                    - AMAN KUMAR, IIT MADRAS
                                    <br>
                                    - BREASHA GUPTA, IIT MADRAS
                                    <br>
                                    - SACHIT YADAV, IIT MANDI
                                    <br>
                                    - ARNAV PRASAD, IIT MANDI
                                    <br>
                                    - MUHAMMED YASEEN, IIT PALAKKAD
                                    <br>
                                    - TEENA ROY, IIT PALAKKAD
                                    <br>
                                    - SHIVANSH SHUKLA, IIT PATNA
                                    <br>
                                    - VIJAYA N. GONUGADE, IIT PATNA
                                    <br>
                                    - SHIVAM CHOPRA, IIT ROORKEE
                                    <br>
                                    - DHEERAJ ETTA, IIT ROORKEE
                                    <br>
                                    - JAINAM SHAH, IIT GANDHINAGAR
                                    <br>
                                    - PRIYANKA SHARMA, IIT GANDHINAGAR
                                    <br>
                                    - UDIT VYAS, IIT GANDHINAGAR
                                    <br>
                                    - ADITI GERA, IIT GANDHINAGAR
                                    <br>
                                    - C FAHEEM SHANAVAS, IIT GANDHINAGAR
                                    <br>
                                    - DHRUVI LODHAVIA, IIT GANDHINAGAR
                                    <br>
                                    - SHIVANG PAREEK, IIT GANDHINAGAR
                                    <br>
                                    - REUBEN DEVANESAN, IIT GANDHINAGAR
                                    <br>
                                    - SAKSHI JAGTAP, IIT GANDHINAGAR
                                    <br>
                                    - ISHA BAYAD, IIT GANDHINAGAR
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <!--Footer-->
        <footer>
            <div class="container"><hr><br>
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                        <a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f  fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item">
                        <a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item" >
                        <a href="mailto:slc@iitgn.ac.in" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="list-inline-item" >
                        <a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted text-center">Copyright &copy; SLC 2021</p>
                    </div>
               </div>
            </div>
        </footer>
    </div>

    <!--Bootstrap and JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/slc/public/js/sod.js"></script>
</body>
</html>